-
    var
            htmlClass = "wide",
            fonts = "https://fonts.googleapis.com/css?family=Barlow%7CBarlow+Condensed:300,400,500,600,700,900",
            logo = {
                default: {
                    desktop: 'XAI logo white.png',
                    retina:  'XAI logo white@2x.png 2x'
                },
                inverse:{
                    desktop: 'XAI logo transparent.png',
                    retina:  'XAI logo transparent@2x.png 2x'
                },
                inverseBig: {
                    desktop: 'XAI logo transparent.png',
                    retina:  'XAI logo transparent@2x.png 2x'
                },
                name: 'XAI'
            },
            colori = {
                primary: {
                    hex: '#d90e90',
                    rgb: '217,14,144'
                },
                'purple-heart': {
                    hex: '#822ea8',
                    rgb: '130,46,168'
                }
            },
            menuXai = [
                {
                    title: 'Program',
                    link:  'program.html'
                },
                {
                    title: 'Invited Speakers',
                    link: 'speakers.html'
                },
                {
                    title: 'Presentations',
                    link: 'presentations.html'
                },
                {
                    title: 'Workshops',
                    link: 'workshops.html'
                },
                {
                    title: 'Tutorials',
                    link: 'tutorials2.html'
                },
                {
                    title: 'Organization',
                    link: '#organization',
                    dropdown: [
                        {
                            title: 'Program Committee',
                            link: 'programCommittee.html'
                        }
                    ]
                },
                {
                    title: 'Awards',
                    link: '#awards'
                }
            ],
            people = [
                {
                    'firstName': 'Fosca',
                    'lastName': 'Giannotti',
                    'role': 'Director of Research',
                    'affiliation': 'ISTI - CNR Pisa'
                },
                {
                    'firstName': 'Dino',
                    'lastName': 'Pedreschi',
                    'role': 'Full Professor',
                    'affiliation': 'University of Pisa'
                },
                {
                    'firstName': 'Franco',
                    'lastName': 'Turini',
                    'role': 'Full Professor',
                    'affiliation': 'University of Pisa'
                },{
                    'firstName': 'Salvatore',
                    'lastName': 'Ruggieri',
                    'role': 'Full Professor',
                    'affiliation': 'University of Pisa'
                },{
                    'firstName': 'Giovanni',
                    'lastName': 'Comandé',
                    'role': 'Full Professor',
                    'affiliation': 'Sant\'Anna School'
                }, {
                    'firstName': 'Anna',
                    'lastName': 'Monreale',
                    'role': 'Full Professor',
                    'affiliation': 'University of Pisa'
                }, {
                    'firstName': 'Mirco',
                    'lastName': 'Nanni',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa'
                }, {
                    'firstName': 'Luca',
                    'lastName': 'Pappalardo',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa'
                }, {
                    'firstName': 'Riccardo',
                    'lastName': 'Guidotti',
                    'role': 'Assitant Professor',
                    'affiliation': 'University of Pisa'
                },{
                    'firstName': 'Salvo',
                    'lastName': 'Rinzivillo',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa'
                }, {
                    'firstName': 'Daniele',
                    'lastName': 'Fadda',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa'
                }, {
                    'firstName': 'Michela',
                    'lastName': 'Natilli',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa'
                }, {
                    'firstName': 'Andrea',
                    'lastName': 'Beretta',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa'
                },{
                    'firstName': 'Cecilia',
                    'lastName': 'Panigutti',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale'
                },{
                    'firstName': 'Mattia',
                    'lastName': 'Setzu',
                    'role': 'Phd Student',
                    'affiliation': 'University of Pisa'
                }, {
                    'firstName': 'Roberto',
                    'lastName': 'Pellungrini',
                    'role': 'Researcher',
                    'affiliation': 'University of Pisa'
                }, {
                    'firstName': 'Francesco',
                    'lastName': 'Spinnato',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale'
                }, {
                    'firstName': 'Francesca',
                    'lastName': 'Naretto',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale'
                }, {
                    'firstName': 'Francesco',
                    'lastName': 'Bodria',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale'
                }, {
                    'firstName': 'Giovanni',
                    'lastName': 'Puccetti',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale'
                }
            ],
            news = [
                {
                    image: 'assets/images/blog/xai-it.png',
                    title: 'XAI.IT',
                    link: 'http://www.di.uniba.it/~swap/xai-it/index.html',
                    category: 'Workshop',
                    content: 'Italian Workshop on XAI with Dino Pedreschi as invited speaker',
                    date: 'November 25-26th 2020'
                },{
                    image: 'assets/images/blog/circle-tables.jpg',
                    title: 'Falling walls circle table: understanding the scientific method in the 21st century',
                    link: 'https://falling-walls.com/event/circle-table-understanding-the-scientific-method-in-the-21st-century',
                    category: 'Panel discussion',
                    content: 'Falling walls foundation | Jean-Pierre Bourguignon, Edith Heard, Fosca Giannotti, Sabina Leonelli',
                    date:'5 November 2020 h. 12.00- 13.00 CET'
                }, {
                    image: 'assets/images/blog/guidotti.png',
                    title: 'Explaining Explanation Methods Speaker: Riccardo Guidotti',
                    link: 'news_webinar_guidotti.html',
                    category: 'Tutorial',
                    content: 'In this tutorial Riccardo shows how to employ existing explanation libraries on tabular datasets',
                    date: '30 October 2020 h. 11.00 CET'
                },
                {
                    image: 'assets/images/blog/esof.png',
                    title: 'ESOF2020 - Artificial Intelligence: A blessing or a threat for society?',
                    link: 'news_esof2020.html',
                    category: 'Speech',
                    content: 'Artificial Intelligence The ineluctable revolution, virtual session on“Artificial Intelligence: A blessing or a threat for society", ',
                    date:'6 September 2020, Trieste'
                }, {
                    image: 'assets/images/blog/global_forum_paris.png',
                    title: 'INTELLIGIBILITY OF AI',
                    link: 'https://www.isi.it/en/news-events/ai-values-biases-perspectives-paris-hosts-the-international-global-forum-on-ai-for-humanity',
                    category: 'Forum',
                    content: 'Global Forum on AI for Humanity',
                    date: 'October 29th 2019, Paris'
                }, {
                    image: 'assets/images/blog/tailor.png',
                    title: 'TAILOR',
                    link: 'news_tailor.html',
                    category: 'Workshop',
                    content: 'Foundations of Trustworthy AI - Integrating Learning, Optimization and Reasoning',
                    date: 'September 5th 2019'
                }, {
                    image: 'assets/images/blog/afirm.png',
                    title: 'Afirm',
                    link: 'http://sigir.org/afirm2020/',
                    category: 'Summer School',
                    content: 'ACM SIGIR/SIGKDD Africa Summer School on Machine Learning for Data Mining and Search',
                    date: 'January 27-31th 2020'
                }
            ]
