-
    var
            htmlClass = "wide",
            fonts = "https://fonts.googleapis.com/css?family=Barlow%7CBarlow+Condensed:300,400,500,600,700,900",
            logo = {
                default: {
                    desktop: 'XAI logo white.png',
                    retina: 'XAI logo white@2x.png 2x'
                },
                inverse: {
                    desktop: 'XAI logo transparent.png',
                    retina: 'XAI logo transparent@2x.png 2x'
                },
                inverseBig: {
                    desktop: 'XAI logo transparent.png',
                    retina: 'XAI logo transparent@2x.png 2x'
                },
                name: 'XAI'
            },
            colori = {
                primary: {
                    hex: '#d90e90',
                    rgb: '217,14,144'
                },
                'purple-heart': {
                    hex: '#822ea8',
                    rgb: '130,46,168'
                }
            },
            menuXai = [
                {
                    title: 'Program',
                    link: 'program.html'
                },
                {
                    title: 'Invited Speakers',
                    link: 'speakers.html'
                },
                {
                    title: 'Presentations',
                    link: 'presentations.html'
                },
                {
                    title: 'Workshops',
                    link: 'workshops.html'
                },
                {
                    title: 'Tutorials',
                    link: 'tutorials2.html'
                },
                {
                    title: 'Organization',
                    link: '#organization',
                    dropdown: [
                        {
                            title: 'Program Committee',
                            link: 'programCommittee.html'
                        }
                    ]
                },
                {
                    title: 'Awards',
                    link: '#awards'
                }
            ],
            people = [
                {
                    'firstName': 'Fosca',
                    'lastName': 'Giannotti',
                    'role': 'Principal Investigator',
                    'affiliation': 'Scuola Normale',
                    'type': 'pl',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'True'
                },
                {
                    'firstName': 'Dino',
                    'lastName': 'Pedreschi',
                    'role': 'Full Professor',
                    'affiliation': 'University of Pisa',
                    'type': 'pl',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'True'
                }, {
                    'firstName': 'Riccardo',
                    'lastName': 'Guidotti',
                    'role': 'Assitant Professor',
                    'affiliation': 'University of Pisa',
                    'type': 'core',
                    'researchLine': '1 ▪ 3 ▪ 4 ▪ 5',
                    'researchLeader': '1',
                    'r1': '1',
                    'r2': '0',
                    'r3': '1',
                    'r4': '1',
                    'r5': '1',
                    'more': 'True'
                },
                {
                    'firstName': 'Franco',
                    'lastName': 'Turini',
                    'role': 'Full Professor',
                    'affiliation': 'University of Pisa',
                    'type': 'associate',
                    'researchLine': '1 ▪ 2 ▪ 5',
                    'r1': '1',
                    'r2': '1',
                    'r3': '0',
                    'r4': '0',
                    'r5': '1',
                    'more': 'False'
                }, {
                    'firstName': 'Salvatore',
                    'lastName': 'Ruggieri',
                    'role': 'Full Professor',
                    'affiliation': 'University of Pisa',
                    'type': 'core',
                    'researchLine': '1 ▪ 2',
                    'researchLeader': '2',
                    'r1': '1',
                    'r2': '1',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'True'
                }, {
                    'firstName': 'Giovanni',
                    'lastName': 'Comandé',
                    'role': 'Full Professor',
                    'affiliation': 'Sant\'Anna School',
                    'type': 'associate',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Mirco',
                    'lastName': 'Nanni',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa',
                    'type': 'team',
                    'researchLine': '1 ▪ 4',
                    'r1': '1',
                    'r2': '0',
                    'r3': '0',
                    'r4': '1',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Luca',
                    'lastName': 'Pappalardo',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa',
                    'type': 'team',
                    'researchLine': '4',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '1',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Salvo',
                    'lastName': 'Rinzivillo',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa',
                    'type': 'core',
                    'researchLine': '1 ▪ 3 ▪ 4 ▪ 5',
                    'researchLeader': '3',
                    'r1': '1',
                    'r2': '0',
                    'r3': '1',
                    'r4': '1',
                    'r5': '1',
                    'more': 'True'
                }, {
                    'firstName': 'Andrea',
                    'lastName': 'Beretta',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa',
                    'type': 'core',
                    'researchLeader': '4',
                    'researchLine': '1 ▪ 4 ▪ 5',
                    'r1': '1',
                    'r2': '0',
                    'r3': '0',
                    'r4': '1',
                    'r5': '1',
                    'more': 'True'
                }, {
                    'firstName': 'Anna',
                    'lastName': 'Monreale',
                    'role': 'Associate Professor',
                    'affiliation': 'University of Pisa',
                    'type': 'core',
                    'researchLine': '1 ▪ 4 ▪ 5',
                    'researchLeader': '5',
                    'r1': '1',
                    'r2': '0',
                    'r3': '0',
                    'r4': '1',
                    'r5': '1',
                    'more': 'True'
                }, {
                    'firstName': 'Daniele',
                    'lastName': 'Fadda',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa',
                    'type': 'team',
                    'researchLine': '3',
                    'r1': '0',
                    'r2': '0',
                    'r3': '1',
                    'r4': '0',
                    'r5': '0',
                    'more': 'True'
                }, {
                    'firstName': 'Cecilia',
                    'lastName': 'Panigutti',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale',
                    'type': 'team',
                    'researchLine': '1 ▪ 4 ▪ 5',
                    'r1': '1',
                    'r2': '0',
                    'r3': '0',
                    'r4': '1',
                    'r5': '1',
                    'more': 'True'
                }, {
                    'firstName': 'Mattia',
                    'lastName': 'Setzu',
                    'role': 'Phd Student',
                    'affiliation': 'University of Pisa',
                    'type': 'team',
                    'researchLine': '1 ▪ 2',
                    'r1': '1',
                    'r2': '1',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'True'
                }, {
                    'firstName': 'Roberto',
                    'lastName': 'Pellungrini',
                    'role': 'Researcher',
                    'affiliation': 'University of Pisa',
                    'type': 'team',
                    'researchLine': '5',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '0',
                    'r5': '1',
                    'more': 'False'
                }, {
                    'firstName': 'Francesco',
                    'lastName': 'Spinnato',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale',
                    'type': 'team',
                    'researchLine': '1 ▪ 4',
                    'r1': '1',
                    'r2': '0',
                    'r3': '0',
                    'r4': '1',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Francesca',
                    'lastName': 'Naretto',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale',
                    'type': 'team',
                    'researchLine': '1 ▪ 3 ▪ 4 ▪ 5',
                    'r1': '1',
                    'r2': '0',
                    'r3': '1',
                    'r4': '1',
                    'r5': '1',
                    'more': 'True'
                }, {
                    'firstName': 'Francesco',
                    'lastName': 'Bodria',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale',
                    'type': 'team',
                    'researchLine': '1 ▪ 3',
                    'r1': '1',
                    'r2': '0',
                    'r3': '1',
                    'r4': '0',
                    'r5': '0',
                    'more': 'True'
                }, {
                    'firstName': 'Giovanni',
                    'lastName': 'Puccetti',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale',
                    'type': 'associate',
                    'researchLine': '?',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Carlo',
                    'lastName': 'Metta',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa',
                    'type': 'associate',
                    'researchLine': '1 ▪ 2 ▪ 3 ▪4',
                    'r1': '1',
                    'r2': '1',
                    'r3': '1',
                    'r4': '1',
                    'r5': '0',
                    'more': 'True'
                }, {
                    'firstName': 'Francesca',
                    'lastName': 'Pratesi',
                    'role': 'Researcher',
                    'affiliation': 'ISTI - CNR Pisa',
                    'type': 'associate',
                    'researchLine': '5',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '0',
                    'r5': '1',
                    'more': 'False'
                }, {
                    'firstName': 'Eleonora',
                    'lastName': 'Cappuccio',
                    'role': 'Phd Student',
                    'affiliation': 'University of Pisa - Bari',
                    'type': 'team',
                    'researchLine': '3 ▪ 4',
                    'r1': '0',
                    'r2': '0',
                    'r3': '1',
                    'r4': '1',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Alessio',
                    'lastName': 'Malizia',
                    'role': 'Associate Professor',
                    'affiliation': 'University of Pisa',
                    'type': 'associate',
                    'researchLine': '1 ▪ 3 ▪ 4',
                    'r1': '1',
                    'r2': '0',
                    'r3': '1',
                    'r4': '1',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Isacco',
                    'lastName': 'Beretta_',
                    'role': 'Phd Student',
                    'affiliation': 'University of Pisa',
                    'type': 'team',
                    'researchLine': '2',
                    'r1': '0',
                    'r2': '1',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Marta',
                    'lastName': 'Marchiori Manerba',
                    'role': 'Phd Student',
                    'affiliation': 'University of Pisa',
                    'type': 'team',
                    'researchLine': '1 ▪ 2 ▪ 5',
                    'r1': '1',
                    'r2': '1',
                    'r3': '0',
                    'r4': '0',
                    'r5': '1',
                    'more': 'True'
                }, {
                    'firstName': 'Giovanni',
                    'lastName': 'Camarda',
                    'role': 'Phd Student',
                    'affiliation': 'University of Pisa',
                    'type': 'team',
                    'researchLine': '1',
                    'r1': '1',
                    'r2': '0',
                    'r3': '0',
                    'r4': '1',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Elena',
                    'lastName': 'Sajno',
                    'role': 'Phd Student',
                    'affiliation': 'Università Cattolica di Milano',
                    'type': 'associate',
                    'researchLine': '4',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '1',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Michele',
                    'lastName': 'Fontana',
                    'role': 'Phd Student',
                    'affiliation': '',
                    'type': 'associate',
                    'researchLine': '',
                    'r1': '0',
                    'r2': '1',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Martina',
                    'lastName': 'Cinquini',
                    'role': 'Phd Student',
                    'affiliation': 'University of Pisa',
                    'type': 'team',
                    'researchLine': '1 ▪ 2',
                    'r1': '1',
                    'r2': '1',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'False'
                }, {
                    'firstName': 'Robin',
                    'lastName': 'Theriault',
                    'role': 'Phd Student',
                    'affiliation': 'Scuola Normale',
                    'type': 'associate',
                    'researchLine': '',
                    'r1': '0',
                    'r2': '0',
                    'r3': '0',
                    'r4': '0',
                    'r5': '0',
                    'more': 'False'
                }
            ],
            news = [
                {
                    image: 'assets/images/blog/dubaiExpo.png',
                    title: 'Expo Dubai: High-Level Forum on EU Vision for TrustworthyAI',
                    link: 'news_dubaiExpo.html',
                    category: 'Forum',
                    content: "Event organised by EU Commission to bring European AI Excellence & Trust approaches to the world",
                    date: '15-16 March 2022 13:30 – 15:00 CET'
                },
                {
                image: 'assets/images/blog/cxrHackaton.jpg',
                title: 'Covid CXR Hackaton',
                link: 'news_CXRhackaton.html',
                category: 'Hackaton',
                content: "Artificial Intelligence for Covid-19 prognosis: aiming at accuracy and explainability",
                date: '1 February 2022, at 16.00 CET.'
                 },
                {
                    image: 'assets/images/blog/leads_conference.png',
                    title: 'Legally Attentive AI: Awareness Conference on Explainability of AI',
                    link: 'https://www.legalityattentivedatascientists.eu/2022/01/19/legality-attentive-ai-awareness-conference-on-explainability-of-ai/',
                    category: 'Conference',
                    content: "organized by LeADS (Legally Attentive Data Scientists) in collaboration with the Brussels Privacy Hub.",
                    date: '28 January 2022, at 16.00 CET.'
                },{
                    image: 'assets/images/blog/XAI-course.jpg',
                    title: 'Xai Course at Scuola Normale Superiore',
                    link: 'https://www.sns.it/en/corsoinsegnamento/explainable-artificial-intelligence',
                    category: 'Course',
                    content: "The Fosca Giannotti's course on Explainable AI, within the Italian national Ph.D., starts",
                    date: 'December 2021'
                },
                {
                image: 'assets/images/blog/unitn_inauguration.jpg',
                title: 'Inauguration of the academic year 2021/2022',
                link: 'https://www.youtube.com/watch?v=b5nMiYajsWg',
                category: 'Lecture',
                content: 'Lecture by Fosca Giannotti "Human Artificial Intelligence: where do we go from here?"',
                date: 'November 26th 2021'
            },
                {
                    image: 'assets/images/blog/acai2021.png',
                    title: 'ACAI 2021',
                    link: 'news_acai2021.html',
                    category: 'Summer School',
                    content: 'The advanced course on AI on Human Centered AI (Berlin and online)',
                    date: 'October 11 2021'
                }, {
                    image: 'assets/images/blog/ai_regulation_week.png',
                    title: 'European AI regulation Week',
                    link: 'https://aia-week.pages.citius.usc.es',
                    category: 'Panel discussion',
                    content: 'Fosca Giannotti is the main speaker at Panel 2 "Building trust through Explainable AI complying with the European AI regulation"',
                    date: 'October 7 2021'
                },{
                    image: 'assets/images/blog/tailor_2020.png',
                    title: 'TAILOR Summer School 2021',
                    link: 'https://tailor-network.eu/summer-school-2021/',
                    category: 'Summer School',
                    content: 'Giannotti will give an introductory talk on Trustworthy AI dimensions. Ruggieri will explain the perils of discrimination and the solutions ensuring fairness in AI',
                    date: 'September 23rd, 24th 2021'
                },{
                    image: 'assets/images/blog/Copertina-libro_AI_ita.png',
                    title: 'Artificial Intelligence for Sustainable Development',
                    link: 'https://aixia.it/lintelligenza-artificiale-per-lo-sviluppo-sostenibile-libro/',
                    category: 'Book',
                    content: 'A contribution by Giannotti and Pedreschi to the book created by CISV / Ong 2.0, AIxIA and the University of Bari, with the support of the Ministry for Foreign Affairs [Free to download]',
                    date: 'July 2021'
                },
                {
                    image: 'assets/images/blog/phd-ai.png',
                    title: 'PHD AI & Society',
                    link: 'https://www.linkedin.com/pulse/apply-phd-aiit-ai-society-pisa-3-positions-funded-kdd-pedreschi/?trackingId=cpGEsvqfpGrDMSdbhM5h2w%3D%3D',
                    category: 'Application',
                    content: 'Calls for admissions to the National PhD in Artificial Intelligence (PhD-AI.it) are now open!',
                    date: 'July 19 2021'
                }, {
                    image: 'assets/images/blog/digital_futures.jpg',
                    title: 'ICART 2021',
                    link: 'https://youtu.be/XxKziMYctPw',
                    category: 'Speech',
                    content: 'Explainable Artificial Intelligence at Digital Futures',
                    date: 'March 2 2021'
                }, {
                    image: 'assets/images/blog/icart.png',
                    title: 'ICART 2021',
                    link: 'http://www.icaart.org/KeynoteSpeakers.aspx#4',
                    category: 'Speech',
                    content: 'Fosca Giannotti: Explainable Machine Learning for Trustworthy AI',
                    date: 'February 5 2021 - h 14:30'
                }, {
                    image: 'assets/images/blog/disi.png',
                    title: 'DISI University of Trento - seminar talks',
                    link: 'https://www.youtube.com/channel/UCCp8hfYyfdnWqOd7p6ccw-g/featured',
                    category: 'Speech',
                    content: 'Fosca Giannotti: Explainable Machine Learning for Trustworthy AI',
                    date: 'February 3 2021 - h 13:00'
                },
                {
                    image: 'assets/images/blog/xai-it.png',
                    title: 'XAI.IT',
                    link: 'http://www.di.uniba.it/~swap/xai-it/index.html',
                    category: 'Workshop',
                    content: 'Italian Workshop on XAI with Dino Pedreschi as invited speaker',
                    date: 'November 25-26th 2020'
                }, {
                    image: 'assets/images/blog/circle-tables.jpg',
                    title: 'Falling walls circle table: understanding the scientific method in the 21st century',
                    link: 'https://falling-walls.com/event/circle-table-understanding-the-scientific-method-in-the-21st-century',
                    category: 'Panel discussion',
                    content: 'Falling walls foundation | Jean-Pierre Bourguignon, Edith Heard, Fosca Giannotti, Sabina Leonelli',
                    date: '5 November 2020 h. 12.00- 13.00 CET'
                }, {
                    image: 'assets/images/blog/guidotti.png',
                    title: 'Explaining Explanation Methods Speaker: Riccardo Guidotti',
                    link: 'news_webinar_guidotti.html',
                    category: 'Tutorial',
                    content: 'In this tutorial Riccardo shows how to employ existing explanation libraries on tabular datasets',
                    date: '30 October 2020 h. 11.00 CET'
                },
                {
                    image: 'assets/images/blog/esof.png',
                    title: 'ESOF2020 - Artificial Intelligence: A blessing or a threat for society?',
                    link: 'news_esof2020.html',
                    category: 'Speech',
                    content: 'Artificial Intelligence The ineluctable revolution, virtual session on“Artificial Intelligence: A blessing or a threat for society", ',
                    date: '6 September 2020, Trieste'
                }, {
                    image: 'assets/images/blog/tailor_2020.png',
                    title: 'TAILOR Workshop 2020',
                    link: 'https://docs.google.com/document/d/1L18ML3UB6GBor5qSlfc93uPBSddkgB-N2_KgLj4SFGs/edit#heading=h.2h4j2vzb6yq',
                    category: 'Workshop',
                    content: 'Introducing the foundation themes of the project. Fosca Giannotti held a talk on the main challenges related to Trustworthy AI',
                    date: 'October 29th 2019, Paris'
                }, {
                    image: 'assets/images/blog/global_forum_paris.png',
                    title: 'INTELLIGIBILITY OF AI',
                    link: 'https://www.isi.it/en/news-events/ai-values-biases-perspectives-paris-hosts-the-international-global-forum-on-ai-for-humanity',
                    category: 'Forum',
                    content: 'Global Forum on AI for Humanity',
                    date: 'October 29th 2019, Paris'
                }, {
                    image: 'assets/images/blog/tailor.png',
                    title: 'TAILOR',
                    link: 'news_tailor.html',
                    category: 'Workshop',
                    content: 'Foundations of Trustworthy AI - Integrating Learning, Optimization and Reasoning',
                    date: 'September 5th 2019'
                }, {
                    image: 'assets/images/blog/afirm.png',
                    title: 'Afirm',
                    link: 'http://sigir.org/afirm2020/',
                    category: 'Summer School',
                    content: 'ACM SIGIR/SIGKDD Africa Summer School on Machine Learning for Data Mining and Search',
                    date: 'January 27-31th 2020'
                }
            ]
