// Cookies
.cookie-banner(style='display: none')
  p.mx-2
    | We use cookies on this site to enhance your user experience. By clicking any link on this page you are giving your consent for us to set cookies. #[u #[a(href='privacy.html' link’='privacy.html') No, give me more info.]]
  button.close &times;
// End Cookies
