// Footer
footer.site-footer
  .footer-widgets
    .container
          .row.gx-lg-5
            .col-lg-3
              .footer-widget.footer-widget-1
                h4.mb-3.text-yellow 123 main street ground floor 116 London UK
                h4.text-yellow +19 855 518 386 order@zayfat.com
                ul.list-unstyled.list-inline.mt-5.mb-5.mb-md-0
                  li.list-inline-item.border.border-white.py-2.px-3
                    a.text-white(href='#')
                      i.fab.fa-facebook-f
                  li.list-inline-item.border.border-white.py-2.px-3
                    a.text-white(href='#')
                      i.fab.fa-instagram
                  li.list-inline-item.border.border-white.py-2.px-3
                    a.text-white(href='#')
                      i.fab.fa-twitter
            .col-lg-3
              .footer-widget.footer-widget-3
                h4.widget-title Solutions
                ul
                  li
                    a(href='page-services.html') Virtual Design
                  li
                    a(href='page-services.html') Office Build-Outs
                  li
                    a(href='page-services.html') Roofing
                  li
                    a(href='page-services.html') Shelters
                  li
                    a(href='page-services.html') Noise Barriers
                  li
                    a(href='page-services.html') Construction Management
                  li
                    a(href='page-services.html') External Collaboration

            .col-lg-3
              .footer-widget.footer-widget-4
                h4.widget-title About Us
                ul
                  li
                    a(href='page-contact-us.html') Careers
                  li
                    a(href='blog-three-col.html') For Media
                  li
                    a(href='page-contact-us.html') Investor Relations
                  li
                    a(href='page-contact-us.html') Locations

            .col-lg-3
              .footer-widget.footer-widget-2
                h4.widget-title Information
                ul
                  li
                    a(href='page-services.html') Insights & Events
                  li
                    a(href='page-services.html') Certificates
                  li
                    a(href='page-services.html') Maintenance Instructions
                  li
                    a(href='page-services.html') Catalogues

  .footer-bottom-area
    .container
      .row.gx-lg-5.align-items-center
        .col-md-6
          .footer-widget
            p.m-md-0 © #{new Date().getFullYear()} website designed by Daniele Fadda
        .col-md-6
          .footer-widget
            ul.list-inline.m-0.p-0.text-md-right.footer-nav
              li
                a(href='page-privacy-terms.html') Privacy policy
              li
                a(href='page-privacy-terms.html') Terms & Conditions

// End Footer
