// Footer
footer.site-footer
  .footer-widgets
    .container
          .row.gx-lg-5
            .col-lg-4
              .footer-widget.footer-widget-1
                h4.text-yellow.mb-3 Principal Investigator
                div.text-white
                  p.mb-0 Fosca Giannotti, ISTI-CNR
                  p.mb-0 Area della Ricerca CNR
                  p.mb-0 via Moruzzi 1
                  p.mb-0 56124 Pisa, Italy
                  br
                  p.mb-0 Phone: +39 050 621 2999
                  p.mb-0 Email: fosca.giannotti @ isti.cnr.it

            .col-lg-4
              .footer-widget.footer-widget-4
                div.text-white
                  p The XAI Project receives funding from the European Union's Horizon 2020 Excellent Science European Research Council (ERC) programme under grant agreement No. 834756
                  | The views and opinions expressed in this website are the sole responsibility of the author and do not necessarily reflect the views of the European Commission.
                  p
                  img(src="assets/images/logo-eu.jpg" alt="EU flag").mb-4

            .col-lg-4
              .footer-widget.footer-widget-2
                ul
                  li
                    a(href='index.html') Xai
                  li
                    a(href='about.html') Project details
                  li
                    a(href='research-lines.html') Research lines
                  li
                    a(href='people.html') People
                  li
                    a(href='resources.html') Resources

  .footer-bottom-area
    .container
      .row.gx-lg-5.align-items-center
        .col-md-12
            span.text-yellow.strong Webdesign: Daniele Fadda and Andrea Beretta © #{new Date().getFullYear()}
// End Footer
