// Navbar
.site-header.header-bottom-area
  nav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar-brand(href='index.html')
        img.site-logo(src='assets/images/logo.png', alt='Logo')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav.mx-auto
          //- Homes
          li.nav-item
            a.nav-link(href='index.html') Home
          //- Pages
          li.nav-item.dropdown
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Pages
            .dropdown-menu
              a.dropdown-item(href='page-services.html') Services
              a.dropdown-item(href='page-about-us.html') About us
              a.dropdown-item(href='page-contact.html') Contact
              a.dropdown-item(href='page-faq.html') Faq's
              a.dropdown-item(href='page-team.html') Team
              a.dropdown-item(href='page-testimonials.html') Testimonials
              a.dropdown-item(href='page-service-box.html') Service Box
              a.dropdown-item(href='page-partners.html') Partners
              a.dropdown-item(href='page-call-to-action.html') Call to Action
              a.dropdown-item(href='page-404.html') 404
          //- Portfolio
          li.nav-item.dropdown.mega_menu_holder
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Portfolio
            .dropdown-menu
              a.dropdown-item(href='portfolio.html') Portfolio List
              a.dropdown-item(href='portfolio-single-project.html') Single Project
          //- Blog
          li.nav-item.dropdown.mega_menu_holder
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Blog
            .dropdown-menu
              a.dropdown-item(href='blog.html') Blog
              a.dropdown-item(href='blog-single-post.html') Single Post
              a.dropdown-item(href='blog-right-sidebar.html') Right Sidebar
              a.dropdown-item(href='blog-left-sidebar.html') Left Sidebar
              a.dropdown-item(href='blog-three-col.html') Three Col
              a.dropdown-item(href='blog-two-col-right-sidebar.html') Two Col Right Sidebar
              a.dropdown-item(href='blog-two-col-left-sidebar.html') Two Col Left Sidebar
              a.dropdown-item(href='blog-card-right-sidebar.html') Card Right Sidebar
              a.dropdown-item(href='blog-card-left-sidebar.html') Card Left Sidebar
              a.dropdown-item(href='blog-card-three-col.html') Card Three Col
              a.dropdown-item(href='blog-card-two-col-right-sidebar.html') Card two Col Right Sidebar
              a.dropdown-item(href='blog-card-two-col-left-sidebar.html') Card two Col Left Sidebar
              a.dropdown-item(href='blog-single-post-gallery.html') Single Gallary Post 
              a.dropdown-item(href='blog-single-post-video.html') Single Video Post
              a.dropdown-item(href='blog-single-post-audio.html') Single Audio Post
          li.nav-item
            a.nav-link(href='element-accordions.html') Element
        ul.nav-modules.list-unstyled.d-md-flex.align-items-center.mx-3.mx-lg-0
          // Social nav
          li.mr-lg-3.my-3.my-lg-0
            a.text-black(href='page-contact.html') +19 855 518 386
          li
            a.btn.btn-outline-black-header.text-black(href='#')  EN

    
          

// End Navbar