// Navbar
.site-header.header-bottom-area
  nav.navbar.navbar-expand-lg.navbar-light.sticky
    .container
      a.navbar-brand(href='index.html')
        img.site-logo(src='assets/images/logo/xai_logo_color.png', alt='Logo')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav.mx-auto
          li.nav-item
            a.nav-link(href='index.html') Home
          li.nav-item
            a.nav-link(href='about.html') Project details
          li.nav-item.dropdown
            a.dropdown-toggle.nav-link(href='research-lines.html', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Research Lines
            .dropdown-menu
              a.dropdown-item(href='line_1.html') 1. Local to global
              a.dropdown-item(href='line_2.html') 2. Casual reasoning
              a.dropdown-item(href='line_3.html') 3. Platform and XUI
              a.dropdown-item(href='line_4.html') 4. Case studies
              a.dropdown-item(href='line_5.html') 5. Ethics and legal
          li.nav-item
            a.nav-link(href='people.html') People
          li.nav-item.dropdown
            a.dropdown-toggle.nav-link(href='resources.html', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Publications and Resources
            .dropdown-menu
              a.dropdown-item(href='resources.html#publications') Publications
              a.dropdown-item(href='resources.html#thesis') Thesis
          li.nav-item.dropdown
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') News
            .dropdown-menu
              a.dropdown-item(href='news.html') All News
              a.dropdown-item(href='dist-seminars.html') Distinguished seminars
              a.dropdown-item(href='internal-events.html') Internal Events
// End Navbar
