// Navbar
.site-header.header-bottom-area
  nav.navbar.navbar-expand-lg.navbar-light.sticky
    .container
      a.navbar-brand(href='index.html')
        img.site-logo(src='assets/images/logo/xai_logo_color.png', alt='Logo')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='about.html') Project details
          li.nav-item
            a.nav-link(href='research-lines.html') Research Lines
          li.nav-item
            a.nav-link(href='people.html') People
          li.nav-item
            a.nav-link(href='resources.html') Resources
          li.nav-item
            a.nav-link(href='index.html#news') News
            li.nav-item
              a.nav-link(href='internal-events.html') Internal Events
          li.nav-item
            a.bg-yellow.nav-link(href='dist-seminars.html') Distinguished seminars
// End Navbar
