li
    div.mb-3
        a(href='https://doi.org/10.1109/MIS.2019.2957223', target="_blank")
            | Guidotti, R., Monreale, A., Giannotti, F., Pedreschi, D., Ruggieri, S., & Turini, F. (2019). #[strong Factual and counterfactual explanations for black box decision making]
li
    div.mb-3
        a(href='https://doi.org/10.1016/j.artint.2021.103457', target="_blank")
            | Mattia Setzu, Riccardo Guidottia, Anna Monreale, Franco Turini, Dino Pedreschi, Fosca Giannotti (2021). #[strong GLocalX - From Local to Global Explanations of Black Box AI Models]
li
    div.mb-3
        a(href='https://doi.org/TBD - Accepted', target="_blank")
            | Cecilia Panigutti, Emanuele Bosi  (2021). #[strong Intelligenza artificiale in ambito diabetologico: prospettive, dalla ricerca di base alle applicazioni cliniche]
li
    div.mb-3
        a(href='https://doi.org/TBD - Submitted', target="_blank")
            | Cecilia Panigutti, Alan Perotti, Andrè Panisson, Paolo Bajardi, Dino Pedreschi (.). #[strong FairLens: Auditing Black-box Clinical Decision Support Systems]
li
    div.mb-3
        a(href='https://doi.org/http://hdl.handle.net/11568/1088440', target="_blank")
            | Ruggieri, S.; Giannotti, F.; Guidotti, R.; Monreale, A.; Pedreschi, D.; Turini, F. (2021). #[strong Opening the black box: a primer for anti-discrimination]
li
    div.mb-3
        a(href='https://doi.org/TBD - Submitted', target="_blank")
            | Francesco Bodria, Fosca Giannotti, Riccardo Guidotti, Francesca Naretto, Dino Pedreschi, Salvatore Rinzivillo (2021). #[strong Benchmarking and Survey of Explanation Methods for Black Box Models]
li
    div.mb-3
        a(href='https://doi.org/TBD - Accepted', target="_blank")
            | Cecilia Panigutti, Anna Monreale, Giovanni Comandè, Dino Pedreschi (2021). #[strong Ethical, societal and legal issues in deep learning for healthcare]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Fosca Giannotti, Dino Pedreschi, Cecilia Panigutti  (2021). #[strong I.A. comprensibile per il supporto alle decisioni: doctor XAI]
li
    div.mb-3
        a(href='https://doi.org/https://doi.org/10.1007/978-3-030-69128-8_2', target="_blank")
            | R Chatila, V Dignum, M Fisher, F Giannotti, K Morik, S Russell, K Yeung (2021). #[strong Trustworthy AI. Reflections on Artificial Intelligence for Humanity]
li
    div.mb-3
        a(href='https://doi.org/10.1109/CogMI50398.2020.00029', target="_blank")
            | Riccardo Guidotti, Anna Monreale, Francesco Spinnato, Dino Pedreschi, Fosca Giannotti (2020). #[strong Explaining Any Time Series Classifier]
li
    div.mb-3
        a(href='https://doi.org/https://doi.org/10.1007/978-3-030-65965-3_34', target="_blank")
            | Francesca Naretto, Roberto Pellungrini, Franco Maria Nardini, Fosca Giannotti (2020). #[strong Prediction and Explanation of Privacy Risk on Mobility Data with Neural Networks]
li
    div.mb-3
        a(href='https://doi.org/https://doi.org/10.1007/978-3-030-61527-7_27', target="_blank")
            | Francesca Naretto, Roberto Pellungrini, Anna Monreale,
Franco Maria Nardini, and Mirco Musolesi (2020). #[strong Predicting and Explaining Privacy Risk Exposure in Mobility Data]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-43823-4_14', target="_blank")
            | Mattia Setzu, Riccardo Guidotti, Anna Monreale, Franco Turini (2020). #[strong Global Explanations with Local Scoring]
li
    div.mb-3
        a(href='https://doi.org/https://doi.org/10.1145/3351095.3372855', target="_blank")
            | Cecilia Panigutti, Alan Perotti, Dino Pedreschi (2020). #[strong Doctor XAI: an ontology-based approach to black-box sequential data classification explanations]
li
    div.mb-3
        a(href='https://doi.org/https://doi.org/10.1609/aaai.v34i09.7116', target="_blank")
            | Guidotti, R., Monreale, A., Matwin, S., & Pedreschi, D. (2020). #[strong Explaining Image Classifiers Generating Exemplars and Counter-Exemplars from Latent Representations]
li
    div.mb-3
        a(href='https://doi.org/https://doi.org/10.1007/978-3-030-46150-8_12', target="_blank")
            | Guidotti, R., Monreale, A., Matwin, S., & Pedreschi, D. (2019, September). (2020). #[strong Black Box Explanation by Learning Image Exemplars in the Latent Feature Space]
li
    div.mb-3
        a(href='https://doi.org/ttps://doi.org/10.1609/aaai.v33i01.33019780', target="_blank")
            | D Pedreschi, F Giannotti, R Guidotti, A Monreale, S Ruggieri, F Turini (2019). #[strong Meaningful explanations of Black Box AI decision systems]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Guidotti (2020). #[strong Evaluating local explanation methods on ground truth]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Bodria F., Panisson A., Perotti A., & Piaggesi S. (2020). #[strong Explainability Methods for Natural Language Processing: Applications to Sentiment Analysis]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Lampridis O. Guidotti R. Ruggieri S. (2020). #[strong Explaining Sentiment Classification with Synthetic Exemplars and Counter-Exemplars]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Monreale A. (2020). #[strong Rischi etico-legali dell’Intelligenza Artificiale]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Panigutti C., Guidotti R., Monreale A., & Pedreschi D. (2020). #[strong Explaining multi-label black-box classifiers for health applications]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Guidotti, R., Monreale, A., & Cariaggi, L. (2019). #[strong Investigating Neighborhood Generation Methods for Explanations of Obscure Image Classifiers]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Guidotti, R., Monreale, A., & Pedreschi, D. (2019). #[strong The AI black box explanation problem]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Guidotti, R., Monreale, A., Ruggieri, S., Turini, F., Giannotti, F., & Pedreschi, D. (2018). #[strong A survey of methods for explaining black box models]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Guidotti, R., Monreale, A., Ruggieri, S., Pedreschi, D., Turini, F., & Giannotti, F. (2018). #[strong Local rule-based explanations of black box decision systems]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Guidotti, R., Soldani, J., Neri, D., Brogi, A., & Pedreschi, D. (2018). #[strong Helping your docker images to spread based on explainable models]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Pedreschi, D., Giannotti, F., Guidotti, R., Monreale, A., Pappalardo, L., Ruggieri, S., & Turini, F (2018). #[strong Open the black box data-driven explanation of black box decision systems]
