li
    div.mb-3
        | Francesco Spinnato - #[strong A Model Agnostic Local Explainer for Time Series Black-Box Classifiers]. [Master Thesis - 2020 - Completed]
li
    div.mb-3
        | Michele Resta - #[strong Increasing the Interpretability of Deep Recurrent Models for Biomedical Signals Analysis]. [Master Thesis - 2020 - Completed]
li
    div.mb-3
        | Francesco Sabiu - #[strong Privacy risk analysis of LIME explanations]. [Master Thesis - 2020 - Completed]
li
    div.mb-3
        | Francesco Bodria - #[strong Understanding and Exploiting the Latent Space of Machine Learning Models]. [Phd Thesis - 2021 - On Going]
li
    div.mb-3
        | Mattia Setzu - #[strong Opening the Black Box: Empowering Machine Learning Models with Explanations]. [Phd Thesis - 2021 - On Going]
li
    div.mb-3
        | Cecilia Panigutti - #[strong eXplainable AI for trustworthy healthcare applications]. [Phd Thesis - 2017 - On Going]
