li
    div.mb-3
        | Panigutti Cecilia - #[strong eXplainable AI for trustworthy healthcare applications]. [Phd Thesis - 2017 - Completed]
li
    div.mb-3
        | Francesca Naretto - #[strong The relationship between privacy and explanations]. [Phd Thesis - 2019 - Completed]
li
    div.mb-3
        | Bodria Francesco - #[strong Understanding and Exploiting the Latent Space of Machine Learning Models]. [Phd Thesis - 2019 - On Going]
li
    div.mb-3
        | Francesco Spinnato - #[strong A Model Agnostic Local Explainer for Time Series Black-Box Classifiers]. [Master Thesis - 2020 - Completed]
li
    div.mb-3
        | Michele Resta - #[strong Increasing the Interpretability of Deep Recurrent Models for Biomedical Signals Analysis]. [Master Thesis - 2020 - Completed]
li
    div.mb-3
        | Francesco Sabiu - #[strong Privacy risk analysis of LIME explanations]. [Master Thesis - 2020 - Completed]
li
    div.mb-3
        | Alessandra Galassi - #[strong Explanation of Cardiovascular Risk Model Estimator]. [Master Thesis - 2020 - Completed]
li
    div.mb-3
        | Mattia Setzu - #[strong Opening the Black Box: Empowering Machine Learning Models with Explanations]. [Phd Thesis - 2021 - Completed]
li
    div.mb-3
        | Luca Corbucci - #[strong Semantic enrichment of XAI explanations for healthcare]. [Master Thesis - 2021 - Completed]
li
    div.mb-3
        | Reza Puarrim - #[strong X-Bot: Development of a Model and Data Agnostic Chatbot for Explaining the Decisions of Black Box Classifiers]. [Master Thesis - 2021 - Completed]
li
    div.mb-3
        | Matteo D'Onofrio - #[strong Matrix Profile-based Interpretable Time Series Classifier]. [Bachelor Thesis - 2021 - Completed]
li
    div.mb-3
        | Francesco Spinnato - #[strong Explanation Methods for Sequential Data Models]. [Phd Thesis - 2021 - On Going]
li
    div.mb-3
        | Isacco Beretta - #[strong Causal Explainable Artificial Intelligence]. [Phd Thesis - 2021 - On Going]
li
    div.mb-3
        | Robin Thierrault - #[strong Mechanicistic Explanation of NN based prediction]. [PhD Thesis - 2021 - On Going]
li
    div.mb-3
        | Michele Fontana - #[strong Fairness assessment in decentralized ML]. [PhD Thesis - 2021 - On Going]
li
    div.mb-3
        | Eleonora Cappuccio - #[strong A framework for Explanation User Interfaces]. [PhD Thesis - 2021 - On Going]
li
    div.mb-3
        | Martina Cinquini - #[strong Causal Analysis for Fairness and Explanation of AI models]. [PhD Thesis - 2021 - On Going]
li
    div.mb-3
        | Andrea Fedele - #[strong Explaining Siamese Networks in Few-Shot Learning for Audio Data]. [Master Thesis - 2022 - Completed]
li
    div.mb-3
        | Andrea dell'Abate - #[strong Design and Application of ProtopNET for Audio Data]. [Master Thesis - 2022 - On Going]
li
    div.mb-3
        | Valeria Messina - #[strong An explainability framework for fiscal fraud detection classifier]. [Master Thesis - 2022 - On Going]
li
    div.mb-3
        | Andrea Fedele - #[strong Explaining Few-Shot Learning]. [PhD Thesis - 2023 - On Going]
li
    div.mb-3
        | Cristiano Landi - #[strong Mobility Data Representations Design  for Artificial Intelligence Applications]. [PhD Thesis - 2023 - On Going]
li
    div.mb-3
        | Federico Mazzoni - #[strong Co-design of Human-Machine Trust and Interaction  for Hybrid Decision-Making]. [PhD Thesis - 2023 - On Going]
li
    div.mb-3
        | Simone Rizzo - #[strong Attacking machine learning models and their global explainers]. [PhD Thesis - 2023 - On Going]
