li
    div.mb-3
        a(href='https://doi.org/10.1145/3236009', target="_blank")
            | Guidotti Riccardo, Monreale Anna, Ruggieri Salvatore, Turini Franco, Giannotti Fosca, Pedreschi Dino (2022). #[strong A Survey of Methods for Explaining Black Box Models]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Guidotti Riccardo, Monreale Anna, Pedreschi Dino (2019). #[strong The AI black box explanation problem]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-16148-4_5', target="_blank")
            | Guidotti Riccardo, Monreale Anna, Cariaggi Leonardo (2021). #[strong Investigating Neighborhood Generation Methods for Explanations of Obscure Image Classifiers]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-24409-5_9', target="_blank")
            | Panigutti Cecilia, Guidotti Riccardo, Monreale Anna, Pedreschi Dino (2021). #[strong Explaining Multi-label Black-Box Classifiers for Health Applications]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Anna Monreale (2020). #[strong Rischi etico-legali dell’Intelligenza Artificiale]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-61527-7_24', target="_blank")
            | Lampridis Orestis, Guidotti Riccardo, Ruggieri Salvatore (2021). #[strong Explaining Sentiment Classification with Synthetic Exemplars and Counter-Exemplars]
li
    div.mb-3
        a(href='https://doi.org/nan', target="_blank")
            | Francesco Bodria , André Panisson , Alan Perotti , Simone Piaggesi (2020). #[strong Explainability Methods for Natural Language Processing: Applications to Sentiment Analysis]
li
    div.mb-3
        a(href='https://doi.org/10.1016/j.artint.2020.103428', target="_blank")
            | Riccardo Guidotti (2021). #[strong Evaluating local explanation methods on ground truth]
li
    div.mb-3
        a(href='https://doi.org/10.1109/ICDM50108.2020.00122', target="_blank")
            | Riccardo Guidotti, Anna Monreale (2020). #[strong Data-Agnostic Local Neighborhood Generation]
li
    div.mb-3
        a(href='https://doi.org/10.1609/aaai.v33i01.33019780', target="_blank")
            | Pedreschi Dino, Giannotti Fosca, Guidotti Riccardo, Monreale Anna, Ruggieri Salvatore, Turini Franco (2021). #[strong Meaningful Explanations of Black Box AI Decision Systems]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-46150-8_12', target="_blank")
            | Guidotti Riccardo, Monreale Anna, Matwin Stan, Pedreschi Dino (2021). #[strong Black Box Explanation by Learning Image Exemplars in the Latent Feature Space]
li
    div.mb-3
        a(href='https://doi.org/10.1609/aaai.v34i09.7116', target="_blank")
            | Guidotti Riccardo, Monreale Anna, Matwin Stan, Pedreschi Dino (2021). #[strong Explaining Image Classifiers Generating Exemplars and Counter-Exemplars from Latent Representations]
li
    div.mb-3
        a(href='https://doi.org/10.1145/3351095.3372855', target="_blank")
            | Panigutti Cecilia, Perrotti Alan, Pedreschi Dino (2020). #[strong Doctor XAI: an ontology-based approach to black-box sequential data classification explanations]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-43823-4_14', target="_blank")
            | Setzu Mattia, Guidotti Riccardo, Monreale Anna, Turini Franco (2021). #[strong Global Explanations with Local Scoring]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-61527-7_27', target="_blank")
            | Naretto Francesca, Pellungrini Roberto, Monreale Anna, Nardini Franco Maria, Musolesi Mirco (2021). #[strong Predicting and Explaining Privacy Risk Exposure in Mobility Data]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-65965-3_34', target="_blank")
            | Naretto Francesca, Pellungrini Roberto, Nardini Franco Maria, Giannotti Fosca (2021). #[strong Prediction and Explanation of Privacy Risk on Mobility Data with Neural Networks]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-69128-8_2', target="_blank")
            | Chatila Raja, Dignum Virginia, Fisher Michael, Giannotti Fosca, Morik Katharina, Russell Stuart, Yeung Karen (2022). #[strong Trustworthy AI]
li
    div.mb-3
        a(href='https://doi.org/no doi reference', target="_blank")
            | Giannotti Fosca, Pedreschi Dino, Panigutti Cecilia (2021). #[strong I.A. comprensibile per il supporto alle decisioni: doctor XAI]
li
    div.mb-3
        a(href='https://doi.org/no doi reference', target="_blank")
            | Panigutti Cecilia, Monreale Anna, Comandè Giovanni, Pedreschi Dino (2021). #[strong Ethical, societal and legal issues in deep learning for healthcare]
li
    div.mb-3
        a(href='https://doi.org/10.1016/j.ipm.2021.102657', target="_blank")
            | Panigutti Cecilia, Perotti Alan, Panisson André, Bajardi Paolo, Pedreschi Dino (2021). #[strong FairLens: Auditing black-box clinical decision support systems]
li
    div.mb-3
        a(href='https://doi.org/10.30682/ildia2101f', target="_blank")
            | Panigutti Cecilia, Bosi Emanuele (2021). #[strong Intelligenza artificiale in ambito diabetologico: prospettive, dalla ricerca di base alle applicazioni cliniche]
li
    div.mb-3
        a(href='https://doi.org/10.1016/j.artint.2021.103457', target="_blank")
            | Setzu Mattia, Guidotti Riccardo, Monreale Anna, Turini Franco, Pedreschi Dino, Giannotti Fosca (2021). #[strong GLocalX - From Local to Global Explanations of Black Box AI Models]
li
    div.mb-3
        a(href='https://doi.org/10.1109/MIS.2019.2957223', target="_blank")
            | Guidotti Riccardo, Monreale Anna, Giannotti Fosca, Pedreschi Dino, Ruggieri Salvatore, Turini Franco (2021). #[strong Factual and Counterfactual Explanations for Black Box Decision Making]
li
    div.mb-3
        a(href='https://doi.org/10.3390/e23081064', target="_blank")
            | Resta Michele, Monreale Anna, Bacciu Davide (2021). #[strong Occlusion-Based Explanations in Deep Recurrent Models for Biomedical Signals]
li
    div.mb-3
        a(href='https://doi.org/10.1007/978-3-030-88942-5_27', target="_blank")
            | Bonsignori Valerio, Guidotti Riccardo, Monreale Anna (2021). #[strong Deriving a Single Interpretable Model by Merging Tree-Based Classifiers]
li
    div.mb-3
        a(href='https://doi.org/1985.20.00', target="_blank")
            | Riccardo Guidotti, Anna Monreale, Salvatore Ruggieri, Dino Pedreschi, Franco Turini, Fosca Giannotti (2018). #[strong Local Rule-Based Explanations of Black Box Decision Systems]
li
    div.mb-3
        a(href='https://doi.org/2111.11863v1', target="_blank")
            | Carlo Metta, Andrea Beretta, Riccardo Guidotti, Yuan Yin, Patrick Gallinari, Salvatore Rinzivillo, Fosca Giannotti (2021). #[strong Explainable Deep Image Classifiers for Skin Lesion Diagnosis]
li
    div.mb-3
        a(href='https://doi.org/1971.36.00', target="_blank")
            | Dino Pedreschi, Fosca Giannotti, Riccardo Guidotti, Anna Monreale, Luca Pappalardo, Salvatore Ruggieri, Franco Turini (2018). #[strong Open the Black Box Data-Driven Explanation of Black Box Decision Systems]
li
    div.mb-3
        a(href='https://doi.org/no doi reference', target="_blank")
            | Riccardo Guidotti, Ruggieri Salvatore (2021). #[strong Ensemble of Counterfactual Explainers]
li
    div.mb-3
        a(href='https://doi.org/10.1109/ISCC53001.2021.9631485', target="_blank")
            | Metta Carlo, Guidotti Riccardo, Yin Yuan, Gallinari Patrick, Rinzivillo Salvatore (2021). #[strong Exemplars and Counterexemplars Explanations for Image Classifiers, Targeting Skin Lesion Labeling]
li
    div.mb-3
        a(href='https://doi.org/10.1145/3461702.3462553', target="_blank")
            | Guidotti Riccardo, Monreale Anna (2021). #[strong Designing Shapelets for Interpretable Data-Agnostic Classification]
li
    div.mb-3
        a(href='https://doi.org/10.3389/frai.2021.699448', target="_blank")
            | Guidotti Riccardo, D’Onofrio Matteo (2021). #[strong Matrix Profile-Based Interpretable Time Series Classifier]
