.container.mt-6
    .row.justify-content-lg-center
        .col-lg-8
            h4 Role in the project
            p.lead Riccardo Guidotti was born in 1988 in Pitigliano (GR) Italy. In 2013 and 2010 he graduated cum laude in Computer Science (MS and BS) at University of Pisa. He received the PhD in Computer Science with a thesis on Personal Data Analytics in the same institution. He is currently an Assistant Professor (RTD-B) at the Department of Computer Science University of Pisa, Italy and a member of the Knowledge Discovery and Data Mining Laboratory (KDDLab), a joint research group with the Information Science and Technology Institute of the National Research Council in Pisa. He won the IBM fellowship program and has been an intern in IBM Research Dublin, Ireland in 2015. His research interests are in personal data mining, clustering, explainable models, analysis of transactional data.
    .row.text-center.gx-lg-5.mt-5.justify-content-center
        .col-md-4
            a(title="Explaining Explanation Methods" href='https://youtu.be/VY1-wXt4OE8' target='_blank')
                .bg-yellow.px-5.py-5
                    i.far.fa-2x.fa-file-video
                    h5.mb-3 Video availlable on SoBigData channel
                    | Explaining Explanation Methods

