
.container.mt-6
    .row.justify-content-lg-center
        .col-lg-6
            p Marta Marchiori Manerba (she/her) is a Graduate Student in Digital Humanities at the University of Pisa and currently a Ph.D. student in AI. During her studies, she explored the relationship between technology and human rights. She works on Fairness and Explainability in Natural Language Processing, focusing on digital discrimination and algorithmic biases. She holds a Bachelor’s Degree in Digital Humanities from the University of Pisa, during which she developed a strong interest in hate speech detection towards minorities in online discourse.
