#LSG2023.row.mt-5.justify-content-center
    .col-lg-1.text-right
        h4 9.
        small [LSG2023]
    .col-lg-8.bg-yellow.p-3
        #accordion-eight.accordion
        | #[strong Geolet: An Interpretable Model for Trajectory Classification]
        br
        | #[em Landi Cristiano,Spinnato Francesco, Guidotti Riccardo, Monreale Anna, Nanni Mirco] (2023) - International Symposium on Intelligent Data Analysis. In Proceedings of the 2023 conference Advances in Intelligent Data Analysis XXI
        #collapse-eight.collapse(aria-labelledby='heading-eight' data-parent='#accordion-eight')
            div.bg-yellow
                hr
                p.small #[strong Abstract]
                p.small The large and diverse availability of mobility data enables the development of predictive models capable of recognizing various types of movements. Through a variety of GPS devices, any moving entity, animal, person, or vehicle can generate spatio-temporal trajectories. This data is used to infer migration patterns, manage traffic in large cities, and monitor the spread and impact of diseases, all critical situations that necessitate a thorough understanding of the underlying problem. Researchers, businesses, and governments use mobility data to make decisions that affect people’s lives in many ways, employing accurate but opaque deep learning models that are difficult to interpret from a human standpoint. To address these limitations, we propose Geolet, a human-interpretable machine-learning model for trajectory classification. We use discriminative sub-trajectories extracted from mobility data to turn trajectories into a simplified representation that can be used as input by any machine learning classifier. We test our approach against state-of-the-art competitors on real-world datasets. Geolet outperforms black-box models in terms of accuracy while being orders of magnitude faster than its interpretable competitors.
    .col-lg-2.pl-3
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='#' data-toggle='collapse' data-target='#collapse-eight' aria-expanded='true' aria-controls='collapseAbs') More information
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='https://doi.org/10.1007/978-3-031-30047-9_19', target="_blank") External Link
        p.my-1
                    small Research Line #[strong 1]
    #LCM2023.row.mt-5.justify-content-center
    .col-lg-1.text-right
        h4 10.
        small [LCM2023]
    .col-lg-8.bg-yellow.p-3
        #accordion-nine.accordion
        | #[strong Modeling Events and Interactions through Temporal Processes -- A Survey]
        br
        | #[em Liguori Angelica, Caroprese Luciano, Minici Marco, Veloso Bruno, Spinnato Francesco, Nanni Mirco, Manco Giuseppe, Gama Joao] (2023) - Arxive preprint
        #collapse-nine.collapse(aria-labelledby='heading-nine' data-parent='#accordion-nine')
            div.bg-yellow
                hr
                p.small #[strong Abstract]
                p.small In real-world scenario, many phenomena produce a collection of events that occur in continuous time. Point Processes provide a natural mathematical framework for modeling these sequences of events. In this survey, we investigate probabilistic models for modeling event sequences through temporal processes. We revise the notion of event modeling and provide the mathematical foundations that characterize the literature on the topic. We define an ontology to categorize the existing approaches in terms of three families: simple, marked, and spatio-temporal point processes. For each family, we systematically review the existing approaches based based on deep learning. Finally, we analyze the scenarios where the proposed techniques can be used for addressing prediction and modeling aspects.
    .col-lg-2.pl-3
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='#' data-toggle='collapse' data-target='#collapse-nine' aria-expanded='true' aria-controls='collapseAbs') More information
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='https://doi.org/10.48550/arxiv.2303.06067', target="_blank") External Link
        p.my-1
                    small Research Line #[strong 1]
    #SGN2022.row.mt-5.justify-content-center
    .col-lg-1.text-right
        h4 16.
        small [SGN2022]
    .col-lg-8.bg-yellow.p-3
        #accordion-fifteen.accordion
        | #[strong Explaining Crash Predictions on~Multivariate Time Series Data]
        br
        | #[em Spinnato Francesco, Guidotti Riccardo, Nanni Mirco, Maccagnola Daniele, Paciello Giulia, Bencini Farina Antonio] (2022) - International Conference on Discovery Science. In Discovery Science
        #collapse-fifteen.collapse(aria-labelledby='heading-fifteen' data-parent='#accordion-fifteen')
            div.bg-yellow
                hr
                p.small #[strong Abstract]
                p.small In Assicurazioni Generali, an automatic decision-making model is used to check real-time multivariate time series and alert if a car crash happened. In such a way, a Generali operator can call the customer to provide first assistance. The high sensitivity of the model used, combined with the fact that the model is not interpretable, might cause the operator to call customers even though a car crash did not happen but only due to a harsh deviation or the fact that the road is bumpy. Our goal is to tackle the problem of interpretability for car crash prediction and propose an eXplainable Artificial Intelligence (XAI) workflow that allows gaining insights regarding the logic behind the deep learning predictive model adopted by Generali. We reach our goal by building an interpretable alternative to the current obscure model that also reduces the training data usage and the prediction time.
    .col-lg-2.pl-3
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='#' data-toggle='collapse' data-target='#collapse-fifteen' aria-expanded='true' aria-controls='collapseAbs') More information
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='https://doi.org/10.1007%2F978-3-031-18840-4_39', target="_blank") External Link
        p.my-1
                    small Research Line #[strong 4]
    