#VMG2022.row.mt-5.justify-content-center
    .col-lg-1.text-right
        h4 15.
        small [VMG2022]
    .col-lg-2.pl-0
        img(src='assets/images/publications/understanding_peace.jpg ' alt="immagine" style='width:100%;' data-toggle='modal' data-target='#modal-fourteen' type='button').mr-3.border.border-secondary.bwc-image
        #modal-fourteen.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#modal-fourteen-Title' aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        p.small Understanding peace through the world news
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        img(src='assets/images/publications/understanding_peace.jpg ' alt="immagine" )
    .col-lg-6.bg-yellow.p-3
        #accordion-fourteen.accordion
        | #[strong Understanding peace through the world news]
        br
        | #[em Voukelatou Vasiliki, Miliou Ioanna, Giannotti Fosca, Pappalardo Luca] (2022) - EPJ Data Science. In EPJ Data Science
        #collapse-fourteen.collapse(aria-labelledby='heading-fourteen' data-parent='#accordion-fourteen')
            div.bg-yellow
                hr
                p.small #[strong Abstract]
                p.small Peace is a principal dimension of well-being and is the way out of inequity and violence. Thus, its measurement has drawn the attention of researchers, policymakers, and peacekeepers. During the last years, novel digital data streams have drastically changed the research in this field. The current study exploits information extracted from a new digital database called Global Data on Events, Location, and Tone (GDELT) to capture peace through the Global Peace Index (GPI). Applying predictive machine learning models, we demonstrate that news media attention from GDELT can be used as a proxy for measuring GPI at a monthly level. Additionally, we use explainable AI techniques to obtain the most important variables that drive the predictions. This analysis highlights each country’s profile and provides explanations for the predictions, and particularly for the errors and the events that drive these errors. We believe that digital data exploited by researchers, policymakers, and peacekeepers, with data science tools as powerful as machine learning, could contribute to maximizing the societal benefits and minimizing the risks to peace.
    .col-lg-2.pl-3
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='#' data-toggle='collapse' data-target='#collapse-fourteen' aria-expanded='true' aria-controls='collapseAbs') More information
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='http://dx.doi.org/10.1140/epjds/s13688-022-00315-z', target="_blank") External Link
        p.my-1
                    small Research Line #[strong 4]
    #PGG2018.row.mt-5.justify-content-center
    .col-lg-1.text-right
        h4 50.
        small [PGG2018]
    .col-lg-8.bg-yellow.p-3
        #accordion-forty-nine.accordion
        | #[strong Open the Black Box Data-Driven Explanation of Black Box Decision Systems]
        br
        | #[em Pedreschi Dino, Giannotti Fosca, Guidotti Riccardo, Monreale Anna , Pappalardo Luca , Ruggieri Salvatore , Turini Franco ] (2018) - Arxive preprint
        #collapse-forty-nine.collapse(aria-labelledby='heading-forty-nine' data-parent='#accordion-forty-nine')
            div.bg-yellow
                hr
                p.small #[strong Abstract]
                p.small Black box systems for automated decision making, often based on machine learning over (big) data, map a user's features into a class or a score without exposing the reasons why. This is problematic not only for lack of transparency, but also for possible biases hidden in the algorithms, due to human prejudices and collection artifacts hidden in the training data, which may lead to unfair or wrong decisions. We introduce the local-to-global framework for black box explanation, a novel approach with promising early results, which paves the road for a wide spectrum of future developments along three dimensions: (i) the language for expressing explanations in terms of highly expressive logic-based rules, with a statistical and causal interpretation; (ii) the inference of local explanations aimed at revealing the logic of the decision adopted for a specific instance by querying and auditing the black box in the vicinity of the target instance; (iii), the bottom-up generalization of the many local explanations into simple global ones, with algorithms that optimize the quality and comprehensibility of explanations.
    .col-lg-2.pl-3
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='#' data-toggle='collapse' data-target='#collapse-forty-nine' aria-expanded='true' aria-controls='collapseAbs') More information
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='https://arxiv.org/abs/1806.09936', target="_blank") External Link
        p.my-1
                    small Research Line #[strong 1]
    