#BPP2020.row.mt-5.justify-content-center
    .col-lg-1.text-right
        h4 40.
        small [BPP2020]
    .col-lg-8.bg-yellow.p-3
        #accordion-thirty-nine.accordion
        | #[strong Explainability Methods for Natural Language Processing: Applications to Sentiment Analysis]
        br
        | #[em Bodria Francesco, Panisson André , Perotti Alan, Piaggesi Simone ] (2020) - Discussion Paper
        #collapse-thirty-nine.collapse(aria-labelledby='heading-thirty-nine' data-parent='#accordion-thirty-nine')
            div.bg-yellow
                hr
                p.small #[strong Abstract]
                p.small nan
    .col-lg-2.pl-3
        
        p.my-1
                a.btn-mini.px-2.btn-secondary.small(href='http://ceur-ws.org/Vol-2646/18-paper.pdf', target="_blank") External Link
        p.my-1
                    small Research Line #[strong 1]
    