extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .bg-yellow
        .container.py-lg-8.py-md-7.py-5.mb-lg-7.mb-md-6.mb-5
          .row
            .col-lg-6
              h2.my-3 Blog​
              p.lead.mb-3 Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      // blog
      .container.mt-lg-9
        +blog(
          'card-post-style',
          'col-lg-4',
          false,
          {
          image:'assets/images/blog/b1.jpg',
          title:'18 New Roads Schemes A Step Closer To Delivery',
          category:'Photography',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          },
          {
          image:'assets/images/blog/b2.jpg',
          title:'What Today’s Renters Truly Want In The Building',
          category:'Humour',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          },
          {
          image:'assets/images/blog/b3.jpg',
          title:'Should I Sell or Rent My Newly constructed House?',
          category:'Photography',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          },
          {
          image:'assets/images/blog/b4.jpg',
          title:'How to pick right Construction Company for House',
          category:'Photography',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          },
          {
          image:'assets/images/blog/b5.jpg',
          title:'Grow Revenue With Interior Architecture Upgrades',
          category:'Humour',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          },
          {
          image:'assets/images/blog/b6.jpg',
          title:'How to Invest in Real Estate And Construction',
          category:'Photography',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          },
          {
          image:'assets/images/blog/b7.jpg',
          title:'How to Set Great Goals for Real Estate As Landlord',
          category:'Interior',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          },
          {
          image:'assets/images/blog/b8.jpg',
          title:'What Is Wholesaling Real Estate of City',
          category:'Humour',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          },
          {
          image:'assets/images/blog/b9.jpg',
          title:'Is There Still A Market For Value-Add',
          category:'Photography',
          content:'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem'
          }
        )

      //Subscription form
      .container.mb-lg-9.mt-lg-7.my-md-7.my-6
        .bg-yellow
          .row.py-lg-8.py-md-6.py-5.px-lg-0.px-md-0.px-4
            .col-lg-6.offset-lg-3.col-md-10.offset-md-1.px-0
              .text-center
                h2.mb-4 keep up with the latest from Xai
                p.mb-5.mt-1.px-lg-5 Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et

                form
                  .form-group.row.gx-lg-2
                    .col-md-9
                      input#form_email.form-control(type='text' name='lname' placeholder='Email', required)
                    .col-md-3.mt-2.mt-md-0
                      a.btn.btn-outline-black.d-block.btn-top-0.rounded-0(href='#') SUBSCRIBE


