extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .bg-yellow
        .container.py-lg-8.py-md-7.py-5
          .row
            .col-lg-6
              h2.my-3 Distinguished seminars on Explainable AI
              p.lead.mb-3 The Distinguished seminars on Explainable AI last for 90 minutes, the first 45 are dedicated to the seminar and the rest to a round table, we will allow some other guests to be able to ask questions to deepen the topic or opening our minds. Our goal is to bring together bright minds to give talks that are focused on various aspects that can affect Explainability and Artificial Intelligence to foster learning and inspirations that matter.
      // calendar
      .container.mt-lg-5.mt-3.mb-lg-5.mb-md-5.mb-3
        .row.mb-5
          .col-lg-2
            a(href='#')
              .bg-yellow
                .text-center.align-items-center
                  .px-lg-4.py-lg-2.px-4.py-2
                    .mt-lg-4.mt-5
                      h1.display-1.text >
                      h3.text-uppercase dates
                    .px-lg-2.mt-lg-4.px-2.mt-3
                      p our guests
          .col-lg-2
            a(href='#')
              .bg-gray-500.text-white
                .text-center.align-items-center
                  .px-lg-4.py-lg-2.px-4.py-2
                    .mt-lg-4.mt-5
                      h1.display-1 20
                      h3.text-uppercase April
                    .px-lg-2.mt-lg-4.px-2.mt-3
                      p Cinthya Rudin
          .col-lg-2
            a(href='#')
              .bg-gray-500.text-white
                .text-center.align-items-center
                  .px-lg-4.py-lg-2.px-4.py-2
                    .mt-lg-4.mt-5
                      h1.display-1 25
                      h3.text-uppercase May
                    .px-lg-2.mt-lg-4.px-2.mt-3
                      p ???
          .col-lg-2
            a(href='#')
              .bg-gray-500.text-white
                .text-center.align-items-center
                  .px-lg-4.py-lg-2.px-4.py-2
                    .mt-lg-4.mt-5
                      h1.display-1 15
                      h3.text-uppercase June
                    .px-lg-2.mt-lg-4.px-2.mt-3
                      p Freddy Lecue
          .col-lg-2
            a(href='#')
              .bg-gray-500.text-white
                .text-center.align-items-center
                  .px-lg-4.py-lg-2.px-4.py-2
                    .mt-lg-4.mt-5
                      h1.display-1 22
                      h3.text-uppercase June
                    .px-lg-2.mt-lg-4.px-2.mt-3
                      p ???
          .col-lg-2
            a(href='#')
              .bg-gray-500.text-white
                .text-center.align-items-center
                  .px-lg-4.py-lg-2.px-4.py-2
                    .mt-lg-4.mt-5
                      h1.display-1 13
                      h3.text-uppercase July
                    .px-lg-2.mt-lg-4.px-2.mt-3
                      p ???


      // seminars
      .container.mt-lg-5.mt-md-6.mt-5
        // Rudin
        .row
          .col-lg-8
            img.img-fluid.mb-lg-5.mb-md-5.mb-4(src="assets/images/seminars/seminar_01_rudin.png" alt="Cinthia Rudin")
          .col-lg-4
            p.text-gray-500 Apr 20, 5.00pm - 6.30 CEST
            h5 Clinical decision making and interpretable deep neural networks
            hr
            p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            hr
            ul.list-unstyled
              li #[strong Speaker] Cinthyia Rudin
              li #[strong Chair] -  Fosca Giannotti
              li #[strong Discussants]  - ???, ???, ???
            hr
            a(href='#')
              i.m-2.fab.fa-2x.fa-youtube(aria-hidden='true')
              | live on youtube
            br
            a(href='#')
              i.m-2.fab.fa-2x.fa-twitter
              | follow on twitter
        // Rudin
        .row
           .col-lg-8
             img.img-fluid.mb-lg-5.mb-md-5.mb-4(src="assets/images/seminars/seminar_02_Lecue.png" alt="Freddy Lecue")
           .col-lg-4
             p.text-gray-500 Jun 15, 5.00pm - 6.30 CEST
             h5 This is a good title
             hr
             p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
             hr
             ul.list-unstyled
               li #[strong Speaker] Freddy Lecue
               li #[strong Chair] -  Fosca Giannotti
               li #[strong Discussants]  - ???, ???, ???
             hr
             a(href='#')
               i.m-2.fab.fa-2x.fa-youtube(aria-hidden='true')
               | live on youtube
             br
             a(href='#')
               i.m-2.fab.fa-2x.fa-twitter
               | follow on twitter



      //// center box
      //.container.mb-lg-9.mb-7
      //  .bg-yellow
      //    .py-lg-7.py-5.px-4
      //      .row
      //        .col-lg-8.offset-lg-2.text-center
      //          .mt-lg-3.mt-3
      //            h2 Call to action
      //          .mt-lg-4.mt-3
      //            p.lead Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua sed diam nonumy accusam et justo duo.
      //          .mt-lg-5.mt-4
      //            a.btn.btn-outline-black.rounded-0(href='page-contact.html') CONTACT US
