extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      .bg-yellow.mb-lg-9.mb-md-7.mb-5
        .py-lg-8.py-md-7.py-5
          .container.px-0
            .row
              .col-lg-10
                +pagetitle({title:'Icons', description:''})
      .container
        .row.large-gutters
          .col-lg-3.mb-7
            //- Elements nav
            include includes/elements-nav
          .col-lg-9.mb-7
            .col-6.mb-5
              h4.mb-3 Font Awesome
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                | nibh euismod tincidunt
                | ut laoreet dolore magna aliquam erat volutpat. 

            .d-lg-flex.justify-content-between.mt-4.mb-3.fa-2x
              a(href='#')
                i.m-2.fab.fa-facebook-f(aria-hidden='true')
              a(href='#')
                i.m-2.fab.fa-twitter(aria-hidden='true')
              a(href='#')
                i.m-2.fab.fa-linkedin(aria-hidden='true')
              a(href='#')
                i.m-2.fab.fa-instagram(aria-hidden='true')
              a(href='#')
                i.m-2.fab.fa-skype(aria-hidden='true')
              a(href='#')
                i.m-2.fab.fa-wordpress(aria-hidden='true')
              a(href='#')
                i.m-2.fab.fa-youtube(aria-hidden='true')