extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      .bg-yellow.mb-lg-9.mb-md-7.mb-5
        .py-lg-8.py-md-7.py-5
          .container.px-0
            .row
              .col-lg-10
                +pagetitle({title:'Slider', description:''})
      // Slider
      .container
        .row.large-gutters
          .col-lg-3.mb-7
            //- Elements nav
            include includes/elements-nav
          .col-lg-9.mb-9.mt-5
            h5.mb-4 Arrows
            .slider-call.popup-gallery.mb-5(data-flickity='{ "contain": true, "prevNextButtons": true, "pageDots": false }')
                img(src='assets/images/3.jpg', alt='Picture')
                img(src='assets/images/4.jpg', alt='Picture')
                img(src='assets/images/5.jpg', alt='Picture')

            h5.mb-4 Pagination
            .slider-call.popup-gallery(data-flickity='{ "contain": true, "prevNextButtons": false }')
                img(src='assets/images/blog/b2.jpg', alt='Picture')
                img(src='assets/images/blog/b7.jpg', alt='Picture')
                img(src='assets/images/blog/b8.jpg', alt='Picture')