extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      .bg-yellow.pt-6.pt-lg-8.pb-4.pb-lg-5
        .container
          .row
            .col-lg-8.offset-lg-2
              header.entry-header.text-center
                h2.entry-title.display-5.font-weight-bold XAI Platform
      // image
      .bg-half
        .container
          .row.justify-content-lg-center
            .col-lg-4
              .bg-black
                .py-lg-7.px-lg-6.py-md-6.px-md-5.py-5.px-4
                  .text-white.pr-lg-4.text-center
                    h1.display-1.mb-1.font-weight-bolder 3
                    h5 LINE
      .container.mt-6
        //- .row.justify-content-center
          .col-lg-5
            ul.entry-tags
              li.tags-icon
                i.fas.fa-tags
              li
                a(href='#' rel='tag') topic 1
              li
                a(href='#' rel='tag') topic 2
              li
                a(href='#' rel='tag') topic 3
              li
                a(href='#' rel='tag') topic 4
        .row.justify-content-lg-center.mt-6
          .col-lg-8
            //h4 Abstract
            p.lead The objective of this line is the design and development of a XAI watchdog platform, i.e. an user interface that aims to explain a black-box model by acknowledging different types of explanations for different types of users and providing interactive explanations that the user can navigate. We started the design from the analysis of methods produced in the other research lines and popular approaches from the literature. The objective of the exploration is twofold: (i) identify algorithms and methods to construct the explanations around a bloack box; (ii) build an explanation process where the user can interact with both the black box model and the explanation layer, possibly combining multiple explanation methods with different capabilities. This brings to a platform design consisting of two parts: a software library that integrates a wide set of explanation methods, XAILib; a XUI (eXplainable User Interface) human-computer interface to let the users interact with the explanation layer
            h5.mt-6 XAI-Library
            | The library has the objective of integrating in a coherent platform explanation algorithms developed within the XAI project or published in the literature. The main architecture of the library distinguishes three data types: tabular data; images data; text data.
            | To have a uniform interface for a blackbox to be explained a dedicated wrapper has been designed that will expose all the functionalities required for classify instances from the model. The objective is to define a high-level grammar to setup an explanable analytical pipeline. By design, the library does not make any assumption on the models to be explained, but it relies on a set of interfaces designed around the most diffuse ML libraries (i.e. SciKit Learn, Keras, Tensorflow, Pytorch). For instance, a predict method is shared among the subclasses of the wrapper to adapt to models coming from any of these libraries. The wrapper is also responsible to apply data transformation to the instances to be classified to have a uniform data layer for all the methods.
            | Different explanation methods generate different explanation formats. Thus, we defined a software interface to encapsulate the different explanation formats, by focusing on a classification of capabilities for each explanation. The functionalities we identified are: feature importance, exemplars, counterexemplars, rules, counterfactual rules. An explanation method can provide one or more of these capabilities, by implementing the corresponding method. The design of the library promotes the extension of the repertoire of methodologies with new ones. The interface allows to integrate existing methods and existing implementation (i.e. external explanation methods) easily, providing only the wrapper implementation.
            | At the time of writing the library has been extended with methods proposed by our research team (LORE [#[a(href="resources.html#GMG2019") GMG2019]], ABELE [#[a(href="resources.html#GMM2019") GMM2019]], LASTS [#[a(href="resources.html#GMS2020") GMS2020]]) and taken from the literature (LIME, SHAP, IntGrad, GradCam, NAM, RISE).
            | The library has been exploited to power a few real-world case studies (detailed in the next section). These analytical cases gave us the possibility to prove the validity of the analytical pipeline of the library and to design suitable visual interfaces to deliver the outcome of the explanation to the final user. At the time of writing, the library has been used to create three interfaces for explanation methods in the healthcare domain.
            div.pb-md-2.mt-4
              img(src='assets/images/logo/xai_lib_logo.png' alt="xai library logo")
              a.btn.btn-outline-black(href="https://pypi.org/project/XAI-Library/" target='_blank') LINK TO THE REPOSITORY

            h5.mt-6 The Cardiac Risk evaluator
            | The Cardiac Risk evaluator is a model developed by University of Coimbra for evaluating the probability of death for cardiac reasons in patients admitted to the Emergency Room. We developed a visual interface (to be submitted) to provide local explanations for each classified case. The explanation application exploits the LORE method of the library to provide a set of rules and counterfactual rules to give to the practitioner an explanation of the outcome of the model. A web-based visual interface provides the doctor with an interactive module where the specialist may probe the classification model by means of “what-if” queries and explanations. Besides the explanation capabilities, in collaboration with University of Coimbra, the interface introduces a verification-based approach based on model-testing to compute and visualize the confidence for the prediction, so that the user can better ponder the decision of the algorithm. This verification addresses two aspects: (i) a model-checker exploration of the neighborhood of the instance to discover opposite cases; (ii) a theorem prover to check the compliance of the proposed counter rules with a set of prior knowledge constraints of the case. The interface introduces a novel visual-based widget to explore cases related to the instance to be classified as suggested by the rule and counter-rule. A progressive exploration of the space of possibilities is enabled by a visual timeline that summarizes the path of exploration of the doctor, highlighting the progress of the related cases.
            div.pb-md-2.mt-4
              a.btn.btn-outline-black(href="https://kdd.isti.cnr.it/cre_vue" target='_blank') LINK TO THE PLATFORM

            h5.mt-6 Doctor XAI
            | Doctor XAI [#[a(href="#PPP2020") PPP2020]] provides an explanation for the prediction of the next most probable diagnoses for a patient, given his/her recent clinical history. We developed a visual interface that exploits the progressive disclosure of information related to a local instance to be classified and explained. The explanation method relies on LORE and brigns evidence to the practitioners about relevant diagnoses and their temporal evolution. The complexity of this information is presented and modulated through a progressive disclosure mechanism, where not all the information is shown at once, but it is sequenced, with advanced features shown only in secondary views and only at the request of the user. This approach allows also to create separate interfaces with different levels of concepts, for example stopping at the first stages for the patient and giving the possibility to explore further for the medical specialist. Not all users need the same amount of information, and providing all information at once may be overwhelming.
            div.pb-md-2.mt-4
              a.btn.btn-outline-black(href="https://kdd.isti.cnr.it/DrXAI-viz" target='_blank') LINK TO THE PLATFORM

            h5.mt-6 ISIC Explanation with ABELE
            | In  [#[a(href="#MGY2021") MGY2021]] we built a dedicated interface for an explainer, based on ABELE [#[a(href="#GMM2019") GMM2019]], for a black-box to classify instances of skin lesions images. The interface is developed to help physicians in the diagnosis of skin cancer. Following the principles of using multiple explanation methods, after classifying an instance, users are presented with two different explanation methods. A counterexample that shows an image classified differently, and a set of exemplar images with the same classification.

            div.pb-md-2.mt-4
              a.btn.btn-outline-black(href="https://kdd.isti.cnr.it/isic_viz" target='_blank') LINK TO THE PLATFORM

    .entry-content
      .bg-yellow.pt-6.pt-lg-8.pb-4.pb-lg-5.mt-5
        .container
          .row
      // image
      .bg-half
        .container
          .row
            .col-lg-4
              .bg-black
                .py-lg-5.px-lg-6.py-md-5.px-md-5.py-5.px-4
                  .text-white.pr-lg-4.text-center
                    h3.mb-1.font-weight-bolder#publications Publications

      //- Publications cards
      .container.mb-6
        .row
          //-include includes/paper-card
          include includes/paper-cards-3
    .entry-content.mt-0
      //- People
      .container.mb-10
        .row.gx-lg-3.gy-3.mt-lg-4.mt-md-2.mt-2.mb-5
          h3 Researchers working on this line
          each persona in people
            if persona.r3 == '1'
              .col-lg-2.col-md-4.col-sm-6
                +peoplecardLine(persona.firstName,persona.lastName,persona.role,persona.affiliation,persona.type,persona.researchLine)



