extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content#news
      // head blog
      .bg-yellow
        .container.pt-lg-5.pb-lg-5.pt-md-7.pb-md-5.pt-5.pb-4
          .row
            .col-lg-6
              h1.my-3 News
              p.lead Events, tutorials, round tables, conferences and more...
      // blog
      .container.my-lg-9.my-md-7.my-6
        h2.mb-lg-5.mb-md-4.mb-3
        +blog(
          'card-post-style',
          'col-lg-4 col-12',
          false,
          news
        )
