extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content
      // head main
      .bg-yellow
        .container.pt-lg-8.pb-lg-5.pt-md-7.pb-md-5.pt-5.pb-4
          .row
            .col-lg-6
              h2.my-3 How We Can Help You
              p.lead Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      // testimonials
      .bg-half
        .container.mb-lg-6.mb-md-5.mb-4
          .row.gx-lg-0
            .col-12.d-lg-none
              img(src="assets/images/10.jpg" alt="project")
            .col-lg-6.service-1.order-lg-1
            .col-lg-6
              .bg-black
                .py-lg-7.px-lg-6.py-md-6.px-md-5.py-5.px-4
                  .text-white.pr-lg-4
                    h3.mb-4 Office Build-Outs And Expansion
                    p.mb-4 siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    p.mb-4 sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    a.btn.btn-outline-primary.mt-3(href="#") Read More
      .container.mb-lg-6.mb-md-5.mb-4
        .row.gx-lg-0
          .col-12.d-lg-none
              img(src="assets/images/11.jpg" alt="project")
          .col-lg-6.service-2
          .col-lg-6.order-lg-1
            .bg-yellow
              .py-lg-7.px-lg-6.py-md-6.px-md-5.py-5.px-4
                .pr-lg-4
                  h3.mb-4 Virtual Design And Construction
                  p.mb-4 siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                  p.mb-4 sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  a.btn.btn-outline-black.mt-3(href="#") Read More


      .container.mb-lg-6.mb-md-5.mb-4
        .row.gx-lg-0
          .col-12.d-lg-none
              img(src="assets/images/12.jpg" alt="project")
          .col-lg-6.service-3.order-lg-1
          .col-lg-6
            .bg-black
              .py-lg-7.px-lg-6.py-md-6.px-md-5.py-5.px-4
                .text-white.pr-lg-4
                  h3.mb-4 Metal Structure Production
                  p.mb-4 siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                  p.mb-4 sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  a.btn.btn-outline-primary.mt-3(href="#") Read More

      .container.mb-lg-9.mb-md-7.mb-6
        .row.gx-lg-0
          .col-12.d-lg-none
              img(src="assets/images/13.jpg" alt="project")
          .col-lg-6.service-4
          .col-lg-6.order-lg-1
            .bg-yellow
              .py-lg-7.px-lg-6.py-md-6.px-md-5.py-5.px-4
                .pr-lg-4
                  h3.mb-4 Construction Management
                  p.mb-4 siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                  p.mb-4 sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  a.btn.btn-outline-black.mt-3(href="#") Read More

      //values
      .container.mb-lg-9.mb-md-7.mb-6
        .row.gx-lg-5
          .col-lg-6.order-lg-1
            img(src="assets/images/9.jpg" alt="burger")
          .col-lg-6.my-auto
            div.mt-5
              h2.font-weight-bold.mb-lg-3.mb-3 Our Values
              .mt-lg-1.mt-1
                p.pr-lg-5 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit, consetetur sadipscing elitr.

            div.mt-5
              h5.mb-lg-3.mb-3 Collaborative
              .mt-lg-1.mt-1
                p Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto Duo Et.

            div.mt-5
              h5.mb-lg-3.mb-3 Trusted
              .mt-lg-1.mt-1
                p Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto Duo Et.

            div.mt-5
              h5.mb-lg-3.mb-3 Focused
              .mt-lg-1.mt-1
                p.mb-0 Consetetur Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Accusamjusto Duo Et.

      //Subscription form
      .container.my-lg-9.my-md-7.my-6
        .bg-yellow
          .row.py-lg-8.py-md-6.py-6.px-lg-0.px-md-0.px-4
            .col-lg-6.offset-lg-3.col-md-10.offset-md-1.px-0
              .text-center
                h2.mb-4 keep up with the latest from Xai
                p.mb-5.mt-1.px-lg-5 Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et

                form
                  .form-group.row.gx-lg-2
                    .col-md-9
                      input#form_email.form-control(type='text' name='lname' placeholder='Email', required)
                    .col-md-3.mt-2.mt-md-0
                      a.btn.btn-outline-black.d-block.btn-top-0.rounded-0(href='#') SUBSCRIBE


