extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .bg-yellow
        .container.py-lg-8.py-md-7.py-5
          .row
            .col-lg-6  
              h2.my-3 Services Box
              p.lead.mb-3 Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      .container.my-lg-9.my-md-7.my-5
        .row.gx-lg-5
          .col-lg-4.align-items-center.mb-lg-.mb-md-5.mb-4
            .bg-yellow
              .px-lg-4.py-lg-6.px-md-5.px-4.py-6
                div
                  span.icon
                    i.h-large.display-5.fas.fa-money-check-alt.mb-lg-4.mb-4
                  h4.text-capitalize.mb-4.pr-2 pre-construction design and estimating
                  p.pr-3.mb-0 Quisque sollicitudin lacinia sapien, eu tincidunt nunc ata accumsan laoreet. curabitur feugiat posuere odio nec tincidunt. aliquyam erat nunc sede diam is voluptua 
          .col-lg-4.mb-lg-0.mb-md-5.mb-4
            .bg-yellow
              .px-lg-4.py-lg-6.px-md-5.px-4.py-6
                div
                  span.icon
                    i.pr-5.h-large.display-5.fas.fa-door-open.mb-lg-4.mb-4
                  h4.text-capitalize.mb-4.pr-5 construction project management
                  p.pr-3.mb-0 Quisque sollicitudin lacinia sapien, eu tincidunt nunc ata accumsan laoreet. curabitur feugiat posuere odio nec tincidunt. aliquyam erat nunc sede diam is voluptua 
          .col-lg-4.mb-lg-0.mb-md-5.mb-4
            .bg-yellow
              .px-lg-4.py-lg-6.px-md-5.px-4.py-6
                div
                  span.icon
                    i.pr-5.h-large.display-5.fas.fa-city.mb-lg-4.mb-4
                  h4.text-capitalize.mb-4.pr-5 build-outs, renovation and expansion
                  p.pr-3.mb-0 Quisque sollicitudin lacinia sapien, eu tincidunt nunc ata accumsan laoreet. curabitur feugiat posuere odio nec tincidunt. aliquyam erat nunc sede diam is voluptua 
        .row.gx-lg-5
          .col-lg-4.align-items-center.mb-lg-0.mb-md-5.mb-4
            .bg-yellow
              .px-lg-4.py-lg-6.px-md-5.px-4.py-6
                div
                  span.icon
                    i.pr-5.h-large.display-5.fas.fa-pencil-ruler.mb-lg-4.mb-4
                  h4.text-capitalize.mb-4.pr-5 bank equipment sales and installation
                  p.pr-3.mb-0 Quisque sollicitudin lacinia sapien, eu tincidunt nunc ata accumsan laoreet. curabitur feugiat posuere odio nec tincidunt. aliquyam erat nunc sede diam is voluptua 
          .col-lg-4.mb-lg-0.mb-md-5.mb-4
            .bg-yellow
              .px-lg-4.py-lg-6.px-md-5.px-4.py-6
                div
                  span.icon
                    i.pr-5.h-large.display-5.fas.fa-puzzle-piece.mb-lg-4.mb-4
                  h4.text-capitalize.mb-4.pr-5 cost estimation and project scheduling
                  p.pr-3.mb-0 Quisque sollicitudin lacinia sapien, eu tincidunt nunc ata accumsan laoreet. curabitur feugiat posuere odio nec tincidunt. aliquyam erat nunc sede diam is voluptua 
          .col-lg-4
            .bg-yellow
              .px-lg-4.py-lg-6.px-md-5.px-4.py-6
                div
                  span.icon
                    i.pr-5.h-large.display-5.fas.fa-truck-loading.mb-lg-4.mb-4
                  h4.text-capitalize.mb-4.pr-5 handling of construction materials
                  p.pr-3.mb-0 Quisque sollicitudin lacinia sapien, eu tincidunt nunc ata accumsan laoreet. curabitur feugiat posuere odio nec tincidunt. aliquyam erat nunc sede diam is voluptua 