extends includes/layout
include includes/mixin

block content
    article.entry
        .entry-content
            //title
            .seventy-five-1-percent-bg-yellow
                .container.pt-lg-8.pt-md-7.pt-5
                    .row.gx-lg-5.gx-md-5.gy-5
                        .col-lg-6.col-md-6
                            h2.my-3 Our Team
                            p.lead Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed di
                            .mt-5
                                img(src="assets/images/19.jpg" alt="team")
                            .mt-5
                                img(src="assets/images/21.jpg" alt="team")
                        .col-lg-6.col-md-6
                            .mt-lg-3
                                img(src="assets/images/18.jpg" alt="team")
                            .mt-5.mr-lg-9.mr-md-6
                                img(src="assets/images/20.jpg" alt="team")

            // teame cards
            .container.mt-lg-9.mt-md-7.mt-5
                .row.gx-lg-5.gy-5
                    .col-lg-4
                        .member-image
                            img(src="assets/images/22.jpg" alt="team")
                        .member-content.bg-yellow
                            .member-text
                                h5.member-name Reda McClain
                                .member-tag
                                    span.member-role Founder and Chairman
                                p.mb-4 Quisque sollicitudin lacinia sapien, eu tincidunt nunc at color amet accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt vero accusam.
                                ul.list-unstyled.list-inlinetrue.mb-1
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-facebook
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-instagram
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-twitter
                    .col-lg-4.mt-lg-5.mt-md-6.mt-5
                        .member-image
                            img(src="assets/images/23.jpg" alt="team")
                        .member-content.bg-yellow
                            .member-text
                                h5.member-name Reda McClain
                                .member-tag
                                    span.member-role Quantity Surveyor
                                p.mb-4 Quisque sollicitudin lacinia sapien, eu tincidunt nunc at color amet accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt vero accusam.
                                ul.list-unstyled.list-inlinetrue.mb-1
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-facebook
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-instagram
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-twitter
                    .col-lg-4.mt-lg-5.mt-md-6.mt-5
                        .member-image
                            img(src="assets/images/24.jpg" alt="team")
                        .member-content.bg-yellow
                            .member-text
                                h5.member-name Reda McClain
                                .member-tag
                                    span.member-role Construction Assistant
                                p.mb-4 Quisque sollicitudin lacinia sapien, eu tincidunt nunc at color amet accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt vero accusam.
                                ul.list-unstyled.list-inlinetrue.mb-1
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-facebook
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-instagram
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-twitter
            .container.mb-lg-9
                .row.gx-lg-5
                    .col-lg-4.mt-md-6.mt-5
                        .member-image
                            img(src="assets/images/25.jpg" alt="team")
                        .member-content.bg-yellow
                            .member-text
                                h5.member-name Reda McClain
                                .member-tag
                                    span.member-role Building Services Engineer
                                p.mb-4 Quisque sollicitudin lacinia sapien, eu tincidunt nunc at color amet accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt vero accusam.
                                ul.list-unstyled.list-inlinetrue.mb-1
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-facebook
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-instagram
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-twitter
                    .col-lg-4.mt-md-6.mt-5
                        .member-image
                            img(src="assets/images/26.jpg" alt="team")
                        .member-content.bg-yellow
                            .member-text
                                h5.member-name Reda McClain
                                .member-tag
                                    span.member-role Assistant Project Manager
                                p.mb-4 Quisque sollicitudin lacinia sapien, eu tincidunt nunc at color amet accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt vero accusam.
                                ul.list-unstyled.list-inline.mb-1
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-facebook
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-instagram
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-twitter
                    .col-lg-4.mt-md-6.mt-5
                        .member-image
                            img(src="assets/images/27.jpg" alt="team")
                        .member-content.bg-yellow
                            .member-text
                                h5.member-name Reda McClain
                                .member-tag
                                    span.member-role Building Inspector
                                p.mb-4 Quisque sollicitudin lacinia sapien, eu tincidunt nunc at color amet accumsan laoreet. Curabitur feugiat posuere odio nec tincidunt vero accusam.
                                ul.list-unstyled.list-inlinetrue.mb-1
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-facebook
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-instagram
                                    li.list-inline-item
                                        a.btn.btn-team(href='#')
                                            i.fab.fa-twitter
            //Subscription form
            .container.my-lg-9.my-md-7.my-6
                .bg-yellow
                    .row.py-lg-8.py-md-6.py-6.px-lg-0.px-md-0.px-4
                        .col-lg-6.offset-lg-3.col-md-10.offset-md-1.px-0
                            .text-center
                                h2.mb-4 keep up with the latest from Xai
                                p.mb-5.mt-1.px-lg-5 Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et

                                form
                                    .form-group.row.gx-lg-2
                                        .col-md-9
                                            input#form_email.form-control(type='text' name='lname' placeholder='Email', required)
                                        .col-md-3.mt-2.mt-md-0
                                            a.btn.btn-outline-black.d-block.btn-top-0.rounded-0(href='#') SUBSCRIBE
