extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .bg-yellow
        .container.py-lg-8.py-md-7.py-5
          .row
            .col-lg-6 
              h2.my-3 Call To Action
              p.lead.mb-3 Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      // let's work  
      .container.mt-lg-8.mb-lg-8.mt-7.mb-6  
        .bg-yellow.py-lg-8.px-lg-8.py-md-5.px-md-5.py-5.px-4
          .row.gx-lg-5
            .col-lg-6
              h2 Let’s work & build something great together.
              .mt-4
                a.btn.btn-outline-black.rounded-0(href='page-contact.html') CONTACT US
            .col-lg-6
              .paragraph.font-weight-light.mt-5.mt-lg-0 
                p.lead Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua sed diam nonumy.
      
      // center box
      .container.mb-lg-9.mb-7
        .bg-yellow
          .py-lg-7.py-5.px-4
            .row
              .col-lg-8.offset-lg-2.text-center
                .mt-lg-3.mt-3
                  h2 Let’s build something great together.
                .mt-lg-4.mt-3  
                  p.lead Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua sed diam nonumy accusam et justo duo.
                .mt-lg-5.mt-4
                  a.btn.btn-outline-black.rounded-0(href='page-contact.html') CONTACT US  
      
      //Subscription form
      .container.my-lg-9.my-md-7.my-6
        .bg-yellow
          .row.py-lg-8.py-md-6.py-6.px-lg-0.px-md-0.px-4
            .col-lg-6.offset-lg-3.col-md-10.offset-md-1.px-0
              .text-center
                h2.mb-4 keep up with the latest from tozee
                p.mb-5.mt-1.px-lg-5 Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                
                form
                  .form-group.row.gx-lg-2
                    .col-md-9
                      input#form_email.form-control(type='text' name='lname' placeholder='Email', required)
                    .col-md-3.mt-2.mt-md-0
                      a.btn.btn-outline-black.d-block.btn-top-0.rounded-0(href='#') SUBSCRIBE