extends includes/layout
include includes/mixin

block content
    article.entry
        .entry-content
            //- Page title
            // Hero
            .bg-yellow
                .container.py-lg-8.mb-lg-7.py-md-7.mb-md-5.py-5.mb-4
                    .row
                        .col-lg-6
                            h2.my-3 Certified Partners​
                            p.lead.mb-3 Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

            .container.mt-lg-9.mt-5.mb-lg-9.mb-md-7.mb-6
                .row.gx-lg-5.gy-5.mb-5
                    .col-lg-4
                        .bg-yellow
                            .text-center.align-items-center
                                .px-lg-4.py-lg-5.px-4.py-5
                                    .px-lg-5.mt-lg-4.px-5.mt-4.mb-5
                                        img(src="assets/images/logo/1.png" alt="Meeting")
                                    .mt-lg-4.mt-5
                                        h4 Investment Partner
                                    .px-lg-2.mt-lg-4.px-2.mt-3
                                        p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.

                    .col-lg-4
                        .bg-yellow
                            .text-center.align-items-center
                                .px-lg-4.py-lg-5.px-4.py-5
                                    .px-lg-5.mt-lg-4.px-5.mt-4.mb-5
                                        img(src="assets/images/logo/2.png" alt="Meeting")
                                    .mt-lg-4.mt-5
                                        h4 Bank Partner
                                    .px-lg-2.mt-lg-4.px-2.mt-3
                                        p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
                    .col-lg-4
                        .bg-yellow
                            .text-center.align-items-center
                                .px-lg-4.py-lg-5.px-4.py-5
                                    .px-lg-5.mt-lg-4.px-5.mt-4.mb-5
                                        img(src="assets/images/logo/3.png" alt="Meeting")
                                    .mt-lg-4.mt-5
                                        h4 Construction Partner
                                    .px-lg-2.mt-lg-4.px-2.mt-3
                                        p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
                .row.gx-lg-5.gy-5
                    .col-lg-4
                        .bg-yellow
                            .text-center.align-items-center
                                .px-lg-4.py-lg-5.px-4.py-5
                                    .px-lg-5.mt-lg-4.px-5.mt-4.mb-5
                                        img(src="assets/images/logo/4.png" alt="Meeting")
                                    .mt-lg-4.mt-5
                                        h4 Bank Partner
                                    .px-lg-2.mt-lg-4.px-2.mt-3
                                        p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
                    .col-lg-4
                        .bg-yellow
                            .text-center.align-items-center
                                .px-lg-4.py-lg-5.px-4.py-5
                                    .px-lg-5.mt-lg-4.px-5.mt-4.mb-5
                                        img(src="assets/images/logo/5.png" alt="Meeting")
                                    .mt-lg-4.mt-5
                                        h4 Investment Partner
                                    .px-lg-2.mt-lg-4.px-2.mt-3
                                        p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
                    .col-lg-4
                        .bg-yellow
                            .text-center.align-items-center
                                .px-lg-4.py-lg-5.px-4.py-5
                                    .px-lg-5.mt-lg-4.px-5.mt-4.mb-5
                                        img(src="assets/images/logo/6.png" alt="Meeting")
                                    .mt-lg-4.mt-5
                                        h4 Development Partner
                                    .px-lg-2.mt-lg-4.px-2.mt-3
                                        p Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
            //Subscription form
            .container.my-lg-9.my-md-7.my-6
                .bg-yellow
                    .row.py-lg-8.py-md-6.py-6.px-lg-0.px-md-0.px-4
                        .col-lg-6.offset-lg-3.col-md-10.offset-md-1.px-0
                            .text-center
                                h2.mb-4 keep up with the latest from Xai
                                p.mb-5.mt-1.px-lg-5 Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et

                                form
                                    .form-group.row.gx-lg-2
                                        .col-md-9
                                            input#form_email.form-control(type='text' name='lname' placeholder='Email', required)
                                        .col-md-3.mt-2.mt-md-0
                                            a.btn.btn-outline-black.d-block.btn-top-0.rounded-0(href='#') SUBSCRIBE
