extends includes/layout
include includes/mixin

block content
    article.entry
        .entry-content
            //title
            .seventy-five-1-percent-bg-yellow
                .container.pt-lg-8.pt-md-7.pt-5.pb-lg-10
                    .row.gx-lg-5.gx-md-5.gy-5
                        .col-lg-12.col-md-12
                            h1.my-3 Our Team

            // teame cards
            .container.mt-lg-9.mt-md-7.mt-5.mb-10
                .row.gx-lg-3.gy-3
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_fosca.png" alt="Giannotti").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Fosca Giannotti
                                hr
                                .member-tag
                                    span.member-role Director of Research
                                hr
                                p.mb-0 ISTI - CNR Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Pedreschi1.jpg" alt="Pedreschi").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Dino Pedreschi
                                hr
                                .member-tag
                                    span.member-role Full Professor
                                hr
                                p.mb-0 University of Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Turini1.jpg" alt="Turini").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Franco Turini
                                hr
                                .member-tag
                                    span.member-role Full Professor
                                hr
                                p.mb-0 University of Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Ruggieri1.jpg" alt="Ruggieri").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Salvatore Ruggieri
                                hr
                                .member-tag
                                    span.member-role Full Professor
                                hr
                                p.mb-0 University of Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Comande.jpg" alt="Comande").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Giovanni Comandé
                                hr
                                .member-tag
                                    span.member-role Full Professor
                                hr
                                p.mb-0 Sant'Anna School
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Monreale1.jpg" alt="Monreale").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Anna Monreaele
                                hr
                                .member-tag
                                    span.member-role Full Professor
                                hr
                                p.mb-0 University of Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Nanni1.jpg" alt="Nanni").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Mirco Nanni
                                hr
                                .member-tag
                                    span.member-role Researcher
                                hr
                                p.mb-0 ISTI - CNR Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Pappalardo1.jpg" alt="Pappalardo").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Luca Pappalardo
                                hr
                                .member-tag
                                    span.member-role Researcher
                                hr
                                p.mb-0 ISTI - CNR Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Guidotti1.jpg" alt="Guidotti").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Riccardo Guidotti
                                hr
                                .member-tag
                                    span.member-role Assistant Professor
                                hr
                                p.mb-0 University of Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Rinzivillo1.jpg" alt="Rinzivillo").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Salvatore Rinzivillo
                                hr
                                .member-tag
                                    span.member-role Researcher
                                hr
                                p.mb-0 ISTI - CNR Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Fadda.jpg" alt="Fadda").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Daniele Fadda
                                hr
                                .member-tag
                                    span.member-role Researcher
                                hr
                                p.mb-0 ISTI - CNR Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Natilli1.jpg" alt="Natilli").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Michela Natilli
                                hr
                                .member-tag
                                    span.member-role Researcher
                                hr
                                p.mb-0 ISTI - CNR Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Panigutti1.jpg" alt="Panigutti").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Scuola Normale
                                hr
                                .member-tag
                                    span.member-role PhD Student
                                hr
                                p.mb-0 Sant'Anna School
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Setzu1.jpg" alt="Setzu").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Mattia Setzu
                                hr
                                .member-tag
                                    span.member-role PhD Student
                                hr
                                p.mb-0 University of Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Beretta.jpg" alt="Andrea Beretta").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Andrea Beretta
                                hr
                                .member-tag
                                    span.member-role Researcher
                                hr
                                p.mb-0 ISTI - CNR Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Pellungrini1.jpg" alt="Pellungrini").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Roberto Pellungrini
                                hr
                                .member-tag
                                    span.member-role Researcher
                                hr
                                p.mb-0 University of Pisa
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Spinnato.jpg" alt="Spinnato").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Francesco Spinnato
                                hr
                                .member-tag
                                    span.member-role PhD Student
                                hr
                                p.mb-0 Scuola Normale
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Naretto.jpg" alt="Naretto").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Francesca Naretto
                                hr
                                .member-tag
                                    span.member-role PhD Student
                                hr
                                p.mb-0 Scuola Normale
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Bodria.jpg" alt="Bodria").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Francesco Bodria
                                hr
                                .member-tag
                                    span.member-role PhD Student
                                hr
                                p.mb-0 Scuola Normale
                    .col-lg-2
                        .member-image
                            img(src="assets/images/p_Puccetti.jpg" alt="Puccetti").card-img
                        .member-content.bg-yellow
                            .member-text.px-3.py-3
                                h5.member-name Giovanni Puccetti
                                hr
                                .member-tag
                                    span.member-role PhD Student
                                hr
                                p.mb-0 Scuola Normale
