extends includes/layout
include includes/mixin

block content

  article.entry

    .entry-content
      // Project featured img
      .container-fluid.px-0.project-featured-img
        .content
          .container.p-0.mb-lg-0.mb-md-0.mb-6
            .row.gx-0
              .col-lg-6.col-md-12.col-12
                .bg-yellow
                  .px-lg-5.py-lg-5.px-md-5.py-md-5.px-3.py-4
                    h1.mb-3 Donna Raggs's House
                    p.lead.mb-0 Morbi ultrices nunc eget scelerisque efficitur. Duis id tincidunt metus, at dignissim ex. Proin sed nulla non dolor placerat imperdiet at quis augue.


      // paragraphs
      .container.mt-lg-8.mt-md-7.mt-10
        .row.gx-lg-7
          .col-lg-6
            p.lead Duis diam ex, viverra eu pellentesque a, mattis quis est. Sed non elementum felis. Vivamus tristique tincidunt massa ac posuere. Nam aliquet bibendum ullamcorper. Vestibulum vitae egestas lacus. Morbi ultrices nunc eget scelerisque efficitur. Duis id tincidunt metus, at dignissim ex. Proin sed nulla non dolor placerat imperdiet at quis augue.
          .col-lg-6
            p.mb-lg-5.mb-4 Integer mattis eget justo ut suscipit. Nullam id dolor tristique, imperdiet neque et, consequat arcu. Cras neque magna, suscipit sed velit sed, bibendum accumsan eros. Duis diam ex, viverra eu pellentesque a, mattis quis est. Sed non elementum felis.
            p Vestibulum vitae egestas lacus. Morbi ultrices nunc eget scelerisque efficitur. Duis id tincidunt metus, at dignissim ex. Proin sed nulla non dolor placerat imperdiet at quis augue. 

      .container.mt-lg-7.mt-md-6.mt-5
        img.img-fluid.mb-lg-5.mb-md-5.mb-4(src="assets/images/30.jpg" alt="Project")
        img.img-fluid.mb-lg-5.mb-md-5.mb-4(src="assets/images/31.jpg" alt="Project")
        img.img-fluid.mb-lg-5.mb-md-5.mb-4(src="assets/images/32.jpg" alt="Project")
        img.img-fluid.mb-lg-5.mb-md-5.mb-4(src="assets/images/33.jpg" alt="Project")
        img.img-fluid.mb-lg-5.mb-md-5.mb-4(src="assets/images/34.jpg" alt="Project")

      // Values
      .container.mt-lg-6.mt-lg-5.mt-4.mb-lg-9.mb-md-7.mb-5
        .row.gx-lg-5.align-items-center
          .col-lg-6.order-lg-1
            img(src="assets/images/36.jpg" alt="Meeting")
          .col-lg-6.mt-lg-0.mt-5
            .pr-lg-4
              div
                h3.mb-3 Select design preference
                p Donec sodales lacinia augue in semper. Proin vitae aliquet lectus. Ut sodales orci a mi faucibus, ac ullamcorper metus pellentesque. Etiam vulputate, justo a congue aliquam.
              div.mt-5
                h3.mb-3 We get to work on your vision
                p Donec sodales lacinia augue in semper. Proin vitae aliquet lectus. Ut sodales orci a mi faucibus, ac ullamcorper metus pellentesque. Etiam vulputate, justo a congue aliquam.
              div.mt-5
                h3.mb-3 We go in design phase.
                p Donec sodales lacinia augue in semper. Proin vitae aliquet lectus. Ut sodales orci a mi faucibus, ac ullamcorper metus pellentesque. Etiam vulputate, justo a congue aliquam.
              div.mt-5
                h3.mb-3 Let’s build and place.
                p Donec sodales lacinia augue in semper. Proin vitae aliquet lectus. Ut sodales orci a mi faucibus, ac ullamcorper metus pellentesque. Etiam vulputate, justo a congue aliquam.

          
