extends includes/layout
include includes/mixin

block content

  article.entry

    .entry-content
      //- Page title
      //- Page title
      .bg-yellow
        .container.pt-lg-8.pb-lg-6.pt-md-7.pb-md-5.pt-5.pb-4
          .row  
            .col-lg-6
              h2.my-3 Portfolio
              p.lead.mb-3 Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      // portfoio
      .bg-twenty
        .container.mb-lg-9
          .portfolio-list
            article.portfolio-item
              .entry-media
                img(src="assets/images/3.jpg" alt="project")
              .entry-content-wrapper
                h2.entry-title
                  a(href="portfolio-single-project.html") Depot Hall of West Sector, UK
            article.portfolio-item
              .entry-media
                img(src="assets/images/4.jpg" alt="project")
              .entry-content-wrapper
                h2.entry-title
                  a(href="portfolio-single-project.html") Building Design and Construction
            article.portfolio-item
              .entry-media
                img(src="assets/images/5.jpg" alt="project")
              .entry-content-wrapper
                h2.entry-title
                  a(href="portfolio-single-project.html") Modern House Exterior Architecture
            article.portfolio-item
              .entry-media
                img(src="assets/images/28.jpg" alt="project")
              .entry-content-wrapper
                h2.entry-title
                  a(href="portfolio-single-project.html") Museum Architecture and Construction

      //Subscription form
      .container.my-lg-9.my-md-7.my-6
        .bg-yellow
          .row.py-lg-8.py-md-6.py-5.px-lg-0.px-md-0.px-4
            .col-lg-6.offset-lg-3.col-md-10.offset-md-1.px-0
              .text-center
                h2.mb-4 keep up with the latest from tozee
                p.mb-5.mt-1.px-lg-5 Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                
                form
                  .form-group.row.gx-lg-2
                    .col-md-9
                      input#form_email.form-control(type='text' name='lname' placeholder='Email', required)
                    .col-md-3.mt-2.mt-md-0
                      a.btn.btn-outline-black.d-block.btn-top-0.rounded-0(href='#') SUBSCRIBE


