extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content
    //title
    .seventy-five-1-percent-bg-yellow
        .container.pt-lg-8.pt-md-7.pt-5.pb-lg-10
            .row.gx-lg-5.gx-md-5.gy-5
                .col-lg-6.col-md-6
                    h1.my-3 Resources
                    div
                      p All the #[a(href="#publications") #[strong publications]] and the #[a(href="#thesis") #[strong thesis]] of the XAI Project
    .entry-content.mt-6
      //- Publications title
      .container
        .row
          .col-lg-4
            .bg-grayphite
              .py-lg-5.px-lg-6.py-md-5.px-md-5.py-5.px-4
                .text-black.pr-lg-4.text-center
                  h1.mb-1.font-weight-bolder#publications Publications

      //- Publications cards
      .container
        .row
          //-include includes/paper-card
          include includes/paper-cards
    .entry-content.mt-6.mb-7
      //- Publications title
      .container.mb-4
        .row
          .col-lg-4
            .bg-grayphite
              .py-lg-5.px-lg-6.py-md-5.px-md-5.py-5.px-4
                .text-black.pr-lg-4.text-center
                  h1.mb-1.font-weight-bolder#thesis Thesis
      .container
        .row.justify-content-lg-center
          .col-lg-10
            ol
              include includes/thesis-list
