extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content
    .bg-yellow
      .container.pt-lg-8.pb-lg-5.pt-md-7.pb-md-5.pt-5.pb-4
        .row
          .col-lg-6
            h1.my-3 Resources
            //- p.lead Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    .entry-content
      .container
        .row
          .col-lg-10
            h1 Publications
        include includes/paper-cards
      .container.mb-4.mt-6
        .row
          .col-12
            h2 Thesis
        .row.justify-content-lg-center
          .col-lg-6
            ol
              include includes/thesis-list
