extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content
    .bg-yellow
      .container.pt-lg-8.pb-lg-5.pt-md-7.pb-md-5.pt-5.pb-4
        .row
          .col-lg-6
            h1.my-3 Resources
            //- p.lead Consetetur lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    .entry-content
      .container.mb-4
        .row
          .col-12
            h1 Pubblications
        .row.justify-content-lg-center
          .col-lg-6
            ol
              li
                div.mb-3
                  | Basta, F. Fassetti, M. Guarascio, G. F. Giannotti, D. Pedreschi, L. Spinsanti, G. Papi, and S. Pisani. High Quality True-Positive Prediction for Fiscal Fraud Detection. In ICDM Workshops 2009, IEEE International Conference on Data Mining Workshops, Miami, Florida, USA, 6 December 2009,

              li
                div.mb-3
                  | Bonchi, F. Giannotti, G. Mainetto, and D. Pedreschi. A Classification-based Methodology for Planning Audit Strategies in Fraud Detection. In Proceedings of the Fifth ACM SIGKDD International Conference on Knowledge Discovery and Data Mining, KDD &apos;99, pages 175{184, New York, NY, USA, 1999. ACM.
              li
                div.mb-3
                  | Chelazzi, F. Scatena, F. Bonchi, M. Berlingerio, F. Giannotti, and M. Curcio. Mining HLA Patterns Explaining Liver Diseases. In 19th IEEE Symposium on Computer-Based Medical Systems (CBMS&apos;06)(CBMS), volume 00, pages 702{707, 06 2006.
              li
                div.mb-3
                  | Giannotti, M. Nanni, D. Pedreschi, F. Pinelli, C. Renso, S. Rinzivillo, and R. Trasarti. Unveiling the Complexity of Human Mobility by Querying and Mining Massive Trajectory Data. The VLDB Journal, 20(5):695{719, 2011.
              li
                div.mb-3
                  | Guidotti, A. Monreale, S. Ruggieri, D. Pedreschi, F. Turini, and F. Giannotti. Local Rule-Based Explanations of Black Box Decision Systems. arXiv preprint arXiv:1805.10820, 2018.
              li
                div.mb-3
                  | Guidotti, A. Monreale, S. Ruggieri, F. Turini, F. Giannotti, and D. Pedreschi. A Survey of Methods for Explaining Black Box Models. ACM Comput. Surv., 51(5):93:1{93:42, Aug. 2018.
              li
                div.mb-3
                  | Nanni, R. Trasarti, A. Monreale, V. Grossi, and D. Pedreschi. Driving Proles Computation and Monitoring for Car Insurance CRM. ACM Trans. Intell. Syst. Technol., 8(1):14:1{14:26, Aug. 2016.
              li
                div.mb-3
                  | Pappalardo, F. Simini, S. Rinzivillo, D. Pedreschi, F. Giannotti, and A.-L. Barabasi. Returners and explorers dichotomy in human mobility. Nature Communications, 6(8166), 2015.
              li
                div.mb-3
                  | Pedreschi, S. Ruggieri, and F. Turini. Discrimination-aware data mining. In KDD, pages 560{568. ACM, 2008.
              li
                div.mb-3
                  | Rossetti, L. Milli, S. Rinzivillo, A. S^rbu, D. Pedreschi, and F. Giannotti. NDlib: a python library to model and analyze diffusion processes over complex networks. International Journal of Data Science and Analytics, 5(1):61{79, 2018.
              li
                div.mb-3
                  | Ruggieri, D. Pedreschi, and F. Turini. Data Mining for Discrimination Discovery. ACM Trans. Knowl. Discov. Data, 4(2):9:1{9:40, May 2010.
              li
                div.mb-3
                  | Wang, D. Pedreschi, C. Song, F. Giannotti, and A.-L. Barabasi. Human mobility, social ties, and link prediction. In Proceedings of the 17th ACM SIGKDD International Conference on Knowledge Discovery Data Mining (KDD 2011), pages 1100{1108. ACM, 2011.

