extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content#seminars
      // head blog
      .bg-yellow
        .container.pt-lg-5.pb-lg-5.pt-md-7.pb-md-5.pt-5.pb-4
          .row
            .col-lg-6
              h1.my-3 Seminars
              p.lead and tutorials, round tables, conferences...
      //- Publications cards
      .container
        .row
          include includes/seminars-cards
  br